<!-- MAIN CONTENT -->
<div id="content" class="animated fadeInDown">
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <div class="row">
            <div class="col-md-5">
                <div class="dashboard-title-div">
                    <span class="dashboard-title-l pad-l-15">{{filter.TahunDes}} - {{filter.DirektiratDes}}</span>
                </div>
            </div>
            <div class="col-md-2 text-center center-div">
                <span id="form-filter" class="btn btn-circle shortcut" filter-form-toggle>
                    <i class="fa fa-calendar" data-tooltip-placement="bottom" data-uib-tooltip="Buka Form Filter"></i>
                </span>
                <div smart-include="app/dashboard/views/filter-form.html"></div>
            </div>
            <div class="col-md-5">
                <div class="dashboard-title-div">
                    <span class="dashboard-title-r pad-r-15">Unit {{filter.UnitDes}} </span>
                </div>
            </div>
        </div>
        <div class="row">
            
            <!--<div class="full text-center center-div">
                <span id="form-filter" class="btn btn-circle shortcut" filter-form-toggle>
                    <i class="fa fa-calendar" data-tooltip-placement="bottom" data-uib-tooltip="Buka Form Filter"></i>
                </span>
                <div smart-include="app/dashboard/views/filter-form.html"></div>
            </div>-->
            <div class="col-md-4">
                <ul class="grid cs-style-4">
                    <li>
                        <figure>
                            <div style="background-color: #CFDCF1;">
                                <!-- <img src="styles/img/db-icon/1-db.jpg"> -->
                                <div class="va-table width-100 height-db-icon">
                                    <div class="va-middle ta-center">
                                        <img src="styles/img/db-icon/2-dashboard.png" width="100%" class="mar-0-auto">
                                        <br>
                                        <div class="text-db-icon"><strong>REGISTRASI PESERTA</strong></div>
                                        <div class="sum-text">{{dataCountNewReg}}</div>
                                        <div class="info-db-icon">Gugus</div>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h3>Jumlah Peserta</h3>
                                <span>Registrasi Peserta</span>
                                <br>
                                <br>
                                <div class="sum-text-side">{{dataCountNewReg}}</div>
                                <div class="info-db-icon-side">Gugus</div>
                                <div class="buttons">
                                    <div id="new" data-effect="unfolding" class="button">Detil</div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="grid cs-style-4">
                    <li>
                        <figure>
                            <div style="background-color: #CFDCF1;">
                                <!-- <img src="styles/img/db-icon/1-db.jpg"> -->
                                <div class="va-table width-100 height-db-icon">
                                    <div class="va-middle ta-center">
                                        <img src="styles/img/db-icon/1-dashboard.png" width="100%" class="mar-0-auto">
                                        <br>
                                        <div class="text-db-icon"><strong>APPROVAL REGISTRASI</strong></div>
                                        <div class="sum-text">{{dataCountApproval}}</div>
                                        <div class="info-db-icon">Gugus</div>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h3>Jumlah Peserta</h3>
                                <span>Approval Registrasi</span>
                                <br>
                                <br>
                                <div class="sum-text-side">{{dataCountApproval}}</div>
                                <div class="info-db-icon-side">Gugus</div>
                                <div class="buttons">
                                    <div id="approval" data-effect="unfolding" class="button">Detil</div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="grid cs-style-4">
                    <li>
                        <figure>
                            <div style="background-color: #CFDCF1;">
                                <!-- <img src="styles/img/db-icon/1-db.jpg"> -->
                                <div class="va-table width-100 height-db-icon">
                                    <div class="va-middle ta-center">
                                        <img src="styles/img/db-icon/6-dashboard.png" width="100%" class="mar-0-auto">
                                        <br>
                                        <div class="text-db-icon"><strong>GEOVATION {{tahun}}</strong></div>
                                        <div class="sum-text">
                                            <div class="row">
                                                <div class="col-md-4">FT - Prove <span class="badge bg-color-blue txt-color-white">{{geovation.FTProve}}</span></div>
                                                <div class="col-md-4">PC - Prove <span class="badge bg-color-blue txt-color-white">{{geovation.PCProve}}</span></div>
                                                <div class="col-md-4">I - Prove <span class="badge bg-color-blue txt-color-white">{{geovation.IProve}}</span></div>
                                            </div>
                                        </div>
                                        <div class="info-db-icon">Gugus</div>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h3>Jumlah Peserta</h3>
                                <span>Registrasi Peserta</span>
                                <br>
                                <br>
                                <div class="sum-text-side">{{dataCountNewReg}}</div>
                                <div class="info-db-icon-side">Gugus</div>
                                <div class="buttons" style="cursor:default;">
                                    <div id="new" data-effect="unfolding" class="button">&nbsp;</div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="col-md-4" ng-if="false">
                <ul class="grid cs-style-4">
                    <li>
                        <figure>
                            <div style="background-color: #CFDCF1;">
                                <!-- <img src="styles/img/db-icon/1-db.jpg"> -->
                                <div class="va-table width-100 height-db-icon">
                                    <div class="va-middle ta-center">
                                        <img src="styles/img/db-icon/3-dashboard.png" width="100%" class="mar-0-auto">
                                        <br>
                                        <div class="text-db-icon"><strong>PROSES AUDIT</strong></div>
                                        <div class="sum-text">{{dataCountAudit}}</div>
                                        <div class="info-db-icon">Gugus</div>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h3>Jumlah Peserta</h3>
                                <span>Proses Audit</span>
                                <br>
                                <br>
                                <div class="sum-text-side">{{dataCountAudit}}</div>
                                <div class="info-db-icon-side">Gugus</div>
                                <div class="buttons">
                                    <div id="audit" data-effect="unfolding" class="button">Detil</div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="grid cs-style-4">
                    <li>
                        <figure>
                            <div style="background-color: #CFDCF1;">
                                <!-- <img src="styles/img/db-icon/1-db.jpg"> -->
                                <div class="va-table width-100 height-db-icon">
                                    <div class="va-middle ta-center">
                                        <img src="styles/img/db-icon/4-dashboard.png" width="100%" class="mar-0-auto">
                                        <br>
                                        <div class="text-db-icon"><strong>PROSES PENJURIAN</strong></div>
                                        <div class="sum-text">{{dataCountPenjurian}}</div>
                                        <div class="info-db-icon">Gugus</div>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h3>Jumlah Peserta</h3>
                                <span>Proses Penjurian</span>
                                <br>
                                <br>
                                <div class="sum-text-side">{{dataCountPenjurian}}</div>
                                <div class="info-db-icon-side">Gugus</div>
                                <div class="buttons">
                                    <div id="penjurian" data-effect="unfolding" class="button">Detil</div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="grid cs-style-4">
                    <li>
                        <figure>
                            <div style="background-color: #CFDCF1;">
                                <!-- <img src="styles/img/db-icon/1-db.jpg"> -->
                                <div class="va-table width-100 height-db-icon">
                                    <div class="va-middle ta-center">
                                        <img src="styles/img/db-icon/5-dashboard.png" width="100%" class="mar-0-auto">
                                        <br>
                                        <div class="text-db-icon"><strong>ACHIEVEMENT</strong></div>
                                        <div class="sum-text">
                                            <div class="row">
                                                <div class="col-md-4">Diamond <span class="badge bg-color-blue txt-color-white">{{champion.Diamond}}</span></div>
                                                <div class="col-md-4">Platinum <span class="badge bg-color-blue txt-color-white">{{champion.Platinum}}</span></div>
                                                <div class="col-md-4">Gold <span class="badge bg-color-blue txt-color-white">{{champion.Gold}}</span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">Silver <span class="badge bg-color-blue txt-color-white">{{champion.Silver}}</span></div>
                                                <div class="col-md-4">Bronze <span class="badge bg-color-blue txt-color-white">{{champion.Bronze}}</span></div>
                                                <div class="col-md-4">NK <span class="badge bg-color-blue txt-color-white">{{champion.NK}}</span></div>
                                            </div>
                                        </div>
                                        <div class="info-db-icon">Gugus</div>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h3>Daftar Achievement</h3>
                                <span>Per Kategori</span>
                                <br>
                                <br>
                                <div class="sum-text-side">{{dataCountWinner}}</div>
                                <div class="info-db-icon-side">Gugus</div>
                                <div class="buttons" style="cursor: default;">
                                    <div id="winner" data-effect="unfolding" class="button">&nbsp;</div>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

<div id="modal-container">
    <div class="modal-background">
        <div class="modal pad-0" style="width: 1200px; margin: auto 0;">
            <div class="va-table width-100 pad-1em" style="background-color: #CFDCF1;">
                <div class="va-middle ta-center" style="width: 10%;">
                    <img src="styles/img/db-icon/3-dashboard.png" height="40px">
                </div>
                <div class="va-middle ta-left" style="width: 45%;">View Data Detil</div>
                <div class="va-middle ta-right" style="width: 43%;padding-right:1em;">Jumlah : <strong>{{jumlahGugus}}</strong> Gugus</div>
                <div class="va-middle ta-right" style="width: 2%;"><i id="btnClose" class="fa fa-close" style="cursor:pointer;color:#F00;"></i></div>
            </div>
            <div class="table-responsive mar-1em" style="font-size:14px;">
                <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
            </div>
        </div>
    </div>
</div>