<div class="filter-form">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <!-- widget content -->
            <div class="widget-body no-padding">

                <form class="smart-form">
                    <header class="color-blue bold">
                        <i class="fa fa-edit"></i> Filter Form
                    </header>
                    <fieldset>
                        <section>
                            <label class="label">Periode</label>
                            <label class="select text-left">
                                <select2 class="form-control no-padding select-custom" id="Tahun" name="Tahun" ng-model="filter.Tahun" s2-options="item.id as item.text for item in listTahun" placeholder="--Pilih Periode--" required></select2>
                            </label>
                        </section>
                        <section>
                            <label class="label">Direktorat</label>
                            <label class="select text-left">
                                <select2 ng-disabled="listDirektorat.length === 1" class="form-control no-padding select-custom" id="Direktorat" name="Direktorat" ng-model="filter.Direktorat" s2-options="item.id as item.text for item in listDirektorat" placeholder="--Pilih Direktorat--" required></select2>
                            </label>
                        </section>
                        <section>
                            <label class="label">Unit</label>
                            <label class="select text-left">
                                <select2 ng-disabled="listUnit.length === 1" class="form-control no-padding select-custom" id="Unit" name="Unit" ng-model="filter.Unit" s2-options="item.id as item.text for item in listUnit" placeholder="--Pilih Unit--" required></select2>
                            </label>
                        </section>
                    </fieldset>
                    <div class="form-actions text-center">
                        <button class="btn btn-primary btn-sm" ng-click="submitFilter()">
                            <i class="fa fa-filter"></i> Filter
                        </button>
                        <button class="btn btn-danger btn-sm" ng-click="closeFilter()">
                            <i class="fa fa-times"></i> Tutup
                        </button>
                    </div>
                </form>
            </div>
        </article>
    </div>
</div>
