<div id="content">
    <section widget-grid id="wgtStreamPenjurian">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="isShowList ? 'fa fa-table' : 'fa fa-edit'"></i> </span>
                        <h2>Docking Internal</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <form id="frmStreamPenjurian" name="frmStreamPenjurian" class="form-horizontal" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="float-right">
                                                        <div class="form-group">
                                                            <div class="col-md-2">
                                                                <label class="control-label text-muted"><b>Periode</b></label>
                                                                <!-- <select2 class="form-control input-lg select-custom" placeholder="-- --"></select2> -->
                                                                <select2 class="form-control no-padding select-custom" id="tahun" name="tahun" ng-model="tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode --"></select2>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <label class="control-label text-muted"><b>Stream</b></label>
                                                                <select2 class="form-control no-padding select-custom input" id="stream" name="stream" ng-model="stream" s2-options="item.id as item.text for item in listStream" placeholder="--Pilih Stream--"></select2>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="control-label text-muted"><b>Gugus</b></label>
                                                                <select2 class="form-control no-padding select-custom input" id="gugus" name="gugus" ng-model="gugus" s2-options="item.id as item.text for item in listGugus" placeholder="--Pilih Gugus--"></select2>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                <div><button class="btn btn-primary" ng-click="find()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load</button></div>
                                                            </div>
                                                            <div class="col-md-1" ng-if="false">
                                                                <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                <div><button class="btn btn-success btn-xs" ng-click="downloadXLS()"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Download Excel</button></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <hr class="simple">
                                <div class="row">
                                    <div class="col-md-12">

                                        <!-- widget div-->
                                        <div>
                                            <!-- widget edit box -->
                                            <div class="jarviswidget-editbox">
                                                <!-- This area used as dropdown edit box -->
                                            </div>
                                            <!-- end widget edit box -->
                                            <!-- widget content -->
                                            <div class="widget-body">

                                                <div class="tab-content">
                                                    <div class="table-responsive dragscroll" style="overflow: auto !important; max-height: 330px;cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                                                        <table id="tblStream" class="table table-bordered table-hover cursor-pointer">
                                                            <thead>
                                                                <tr>
                                                                    <td style="vertical-align: middle; font-weight: bold;" rowspan="2">JENIS CIP</td>
                                                                    <td style="vertical-align: middle; font-weight: bold;" rowspan="2">LANGKAH</td>
                                                                    <td style="vertical-align: middle; text-align: right; font-weight: bold;" rowspan="2">POINT</td>
                                                                    <td style="vertical-align: middle; text-align: right; font-weight: bold;" rowspan="2">AVG. SKALA</td>
                                                                    <td style="vertical-align: middle; text-align: right; font-weight: bold;" rowspan="2">AVG. NILAI</td>
                                                                    <td style="vertical-align: middle; text-align:center; font-weight: bold;" colspan="{{kolomSkala.length}}">SKALA</td>
                                                                    <td style="vertical-align: middle; text-align:center; font-weight: bold;" colspan="{{kolomNilai.length}}">NILAI</td>

                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: right; font-weight: bold;" ng-repeat="row in kolomSkala">{{row}}</td>
                                                                    <td style="vertical-align: middle; text-align: right; font-weight: bold;" ng-repeat="row in kolomNilai">{{row}}</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="row in dataList track by $index">
                                                                    <td style="vertical-align: middle;">{{row.KodeJenisCIP}}</td>
                                                                    <td style="vertical-align: middle;">{{row.Langkah}}</td>
                                                                    <td style="vertical-align: middle; text-align: right">{{row.Point}}</td>
                                                                    <td style="vertical-align: middle; text-align: right">{{row.AvgSkala}}</td>
                                                                    <td style="vertical-align: middle; text-align: right">{{row.AvgNilai}}</td>
                                                                    <td style="vertical-align: middle; text-align: right" ng-repeat="rowSkala in kolomSkala track by $index">{{row['Skala_' + rowSkala]}}</td>
                                                                    <td style="vertical-align: middle; text-align: right" ng-repeat="rowNilai in kolomNilai track by $index">{{row['Nilai_' + rowNilai]}}</td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot style="background: #f2f2f2;">
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: right; font-weight: bold;" colspan="{{5 + (kolomSkala.length == 0 ? 2 : kolomSkala.length)}}">{{sumNilai.Title}}</td>
                                                                    <td style="vertical-align: middle; text-align: right; font-weight: bold;" ng-repeat="rowNilai in kolomNilai track by $index">{{sumNilai['Nilai_' + rowNilai]}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: middle; text-align: right; font-weight: bold;" colspan="{{5 + (kolomSkala.length == 0 ? 2 : kolomSkala.length)}}">{{scoreNilai.Title}}</td>
                                                                    <td style="vertical-align: middle; text-align: right; font-weight: bold;" class="to-upper" ng-repeat="rowNilai in kolomNilai track by $index">{{scoreNilai['Nilai_' + rowNilai]}}</td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </article>
        </div>
    </section>
    <!-- content -->
</div>