<div id="content">
    <section widget-grid id="wgtInputPenjurian">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="InputPenjurian" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="isShowList ? 'fa fa-table' : 'fa fa-edit'"></i> </span>
                        <h2>{{isShowList ? getWord('List') : getWord(isNew ? 'New' : 'Update')}} {{getWord('Penjurian')}}</h2>
                        <div class="va-table" style="height: 45px;text-align: right;float: right;margin-right: 10px;">
                        </div>
                    </header>
                    <div>
                        <div class="widget-body" ng-if="isShowList">
                            <div class="widget-body no-padding table-responsive">
                                <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover" width="100%"></table>
                            </div>
                        </div>

                        <div class="widget-body" ng-if="!isShowList">
                            <form id="frmInputPenjurian" name="frmInputPenjurian" class="form-horizontal">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset ng-disabled="!allowUpdate">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="float-right">
                                                            <fieldset>
                                                                <div class="form-group">
                                                                    <div class="col-md-4">
                                                                        <div class="mar-b-10px">
                                                                            <label class="control-label text-muted"><b>NO. GUGUS/JENIS</b></label>
                                                                        </div>
                                                                        <div class="label label-success font-md bg-success" ng-if="!isNew">{{data.KodeRegistrasi}}/{{data.JenisCIP}}</div>
                                                                    </div>
                                                                   
                                                                    <div class="col-md-4">
                                                                        <label class="control-label text-muted"><b>UNIT</b></label>
                                                                        <input type="text" class="form-control" name="Unit" placeholder="Unit" ng-model="data.Unit" ng-disabled="true" />
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label class="control-label text-muted"><b>NAMA GUGUS</b></label>
                                                                        <input type="text" class="form-control" name="namaGugus" placeholder="Nama Gugus" ng-model="data.NamaGugus" ng-disabled="true" />
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                    <hr class="width-70">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="jarviswidget mar-b-0" id="wid-id-7" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false">
                                                <header>
                                                    <ul class="nav nav-tabs pull-left in">
                                                        <li class="{{$index==0 ? 'active':''}}" ng-repeat="x in listKriteria">
                                                            <a data-toggle="tab" href="#hr{{x.Kode}}"><i class="{{x.Class}}"></i><span class="hidden-mobile hidden-tablet"> {{x.Deskripsi}} </span></a>
                                                        </li>
                                                        <li>
                                                            <a data-toggle="tab" href="#hhr4"><i class=""></i><span class="hidden-mobile hidden-tablet">Sofi</span></a>
                                                        </li>
                                                        <li>
                                                            <a data-toggle="tab" href="#hhr3"> <i class="fa fa-lg fa-file-archive-o color-red"></i> <span class="hidden-mobile hidden-tablet"> Kelengkapan Dokumen </span> </a>
                                                        </li>

                                                    </ul>
                                                </header>
                                                <!-- widget div-->
                                                <div>
                                                    <!-- widget edit box -->
                                                    <div class="jarviswidget-editbox">
                                                        <!-- This area used as dropdown edit box -->
                                                    </div>
                                                    <!-- end widget edit box -->
                                                    <!-- widget content -->
                                                    <div class="widget-body">
                                                        <div class="tab-content">
                                                            <div class="tab-pane {{$index==0 ? 'active':''}}" id="hr{{x.Kode}}" ng-repeat="x in listKriteria">
                                                                <fieldset ng-disabled="!allowUpdate">
                                                                    <div class="table-responsive" style="overflow:auto !important;">
                                                                        <table class="table table-bordered table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th style="vertical-align: middle;">Langkah</th>
                                                                                    <th style="vertical-align: middle;">Sub Langkah</th>
                                                                                    <th style="vertical-align: middle;">Requirement Terbaik</th>
                                                                                    <th style="vertical-align: middle;">Penilaian Skala</th>
                                                                                    <th style="vertical-align: middle;">Poin</th>
                                                                                    <th style="vertical-align: middle;">Skala (1-5)</th>
                                                                                    <th style="vertical-align: middle;">Nilai Juri</th>
                                                                                </tr>

                                                                            </thead>
                                                                            <tbody ng-repeat="group in LoopRowSpan">
                                                                                <tr ng-model="row.Kode" ng-repeat="row in group | filter:{'KodeKriteria':x.Kode} ">
                                                                                    <td width="50px" style="vertical-align:middle;" rowspan="{{group.length}}" ng-if="$index===0">{{row.KodeLangkah.substring(0,1)==='X'?'':row.KodeLangkah}}</td>
                                                                                    <td width="30%" style="vertical-align:middle;">{{row.Langkah}}</td>
                                                                                    <td style="vertical-align: middle; cursor:pointer;" align="center">
                                                                                        <a href="javascript:void(0);" data-popover-trigger="mouseenter"
                                                                                           data-popover-placement="top"
                                                                                           data-popover-title="Requirment Terbaik"
                                                                                           data-uib-popover-html="popoverHtml(row.RequirmentTerbaik)"
                                                                                           tooltip-append-to-body="true">
                                                                                            {{row.RequirmentTerbaik | limitTo: 20}}...<br />
                                                                                            <strong class="text-info"><i class="fa fa-eye"></i> More</strong>
                                                                                        </a>

                                                                                    </td>
                                                                                    <td style="vertical-align: middle;" align="center">
                                                                                        <a href="javascript:void(0);" data-popover-trigger="mouseenter"
                                                                                           data-popover-placement="top"
                                                                                           data-popover-title="Penilaian Skala"
                                                                                           data-uib-popover-html="popoverHtml(row.PenilainSkala)"
                                                                                           tooltip-append-to-body="true">
                                                                                            {{row.PenilainSkala | limitTo: 20}}...<br />
                                                                                            <strong class="text-info"><i class="fa fa-eye"></i> More</strong>
                                                                                        </a>

                                                                                    </td>
                                                                                    <td style="vertical-align: middle;" align="center">
                                                                                        <label class="input">
                                                                                            <input ng-disabled="true" ng-model="row.Point" ng-change="Calculate(row)" class="form-control text-right" type="text" custom-number-only allow-decimal="false" decimal-upto="0" allow-negative="false" placeholder="0" maxlength="4" required style="width:50px;">
                                                                                        </label>
                                                                                    </td>
                                                                                    <td style="vertical-align: middle;" align="center">
                                                                                        <label class="input">
                                                                                            <input ng-model="row.Skala" ng-change="Calculate(row)" class="form-control text-right" type="text" custom-number-only allow-decimal="false" decimal-upto="0" allow-negative="false" placeholder="0" maxlength="4" max="5" required style="width:50px;">
                                                                                        </label>
                                                                                    </td>
                                                                                    <td style="vertical-align: middle;" align="center">
                                                                                        <label class="input">
                                                                                            <input ng-model="row.Nilai" ng-disabled="true" class="form-control text-right" type="text" custom-number-only allow-decimal="false" decimal-upto="0" allow-negative="false" placeholder="0" maxlength="4" required style="width:50px;">
                                                                                        </label>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                            <div class="tab-pane" id="hhr3">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="table-responsive dragscroll" style="overflow: auto !important; max-height: 400px;cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                                                                            <table class="table table-bordered table-striped">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th colspan="2">Dokumen</th>
                                                                                        <th align="center" class="text-center">Aksi</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td width="10%">Risalah Peserta</td>
                                                                                        <td><i class="{{classRisalah}}"></i> {{document.Risalah}}</td>
                                                                                        <td width="10%" align="center" class="text-center">
                                                                                            <fieldset>
                                                                                                <button id="Risalah" class="btn btn-primary bg-color-blueDark" ng-disabled="document.Risalah===null" ng-click="DownloadDocument($event)">
                                                                                                    <i id="Risalah" class="fa fa-download"></i> Unduh
                                                                                                </button>
                                                                                            </fieldset>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>VerifikasiKeuangan</td>
                                                                                        <td><i class="{{classVerifikasiKeuangan}}"></i> {{document.VerifikasiKeuangan}}</td>
                                                                                        <td width="10%" align="center" class="text-center">
                                                                                            <fieldset>
                                                                                                <button id="VerifikasiKeuangan" class="btn btn-primary bg-color-blueDark" ng-disabled="document.VerifikasiKeuangan===null" ng-click="DownloadDocument($event)">
                                                                                                    <i id="VerifikasiKeuangan" class="fa fa-download"></i> Unduh
                                                                                                </button>
                                                                                            </fieldset>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Risalah Peserta</td>
                                                                                        <td><i class="{{classSTK}}"></i> {{document.STK}}</td>
                                                                                        <td width="10%" align="center" class="text-center">
                                                                                            <fieldset>
                                                                                                <button id="STK" class="btn btn-primary bg-color-blueDark" ng-disabled="document.STK===null" ng-click="DownloadDocument($event)">
                                                                                                    <i id="STK" class="fa fa-download"></i> Unduh
                                                                                                </button>
                                                                                            </fieldset>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Abster Peserta</td>
                                                                                        <td><i class="{{classAbster}}"></i> {{document.Abster}}</td>
                                                                                        <td width="10%" align="center" class="text-center">
                                                                                            <fieldset>
                                                                                                <button id="Abster" class="btn btn-primary bg-color-blueDark" ng-disabled="document.Abster===null" ng-click="DownloadDocument($event)">
                                                                                                    <i id="Abster" class="fa fa-download"></i> Unduh
                                                                                                </button>
                                                                                            </fieldset>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>KOMET Peserta</td>
                                                                                        <td><i class="{{classKOMET}}"></i> {{document.KOMET}}</td>
                                                                                        <td width="10%" align="center" class="text-center">
                                                                                            <fieldset>
                                                                                                <button id="KOMET" class="btn btn-primary bg-color-blueDark" ng-disabled="document.KOMET===null" ng-click="DownloadDocument($event)">
                                                                                                    <i id="KOMET" class="fa fa-download"></i> Unduh
                                                                                                </button>
                                                                                            </fieldset>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Presentasi Peserta</td>
                                                                                        <td><i class="{{classUploadPresentasi}}"></i> {{document.UploadPresentasi}}</td>
                                                                                        <td width="10%" align="center" class="text-center">
                                                                                            <fieldset>
                                                                                                <button id="UploadPresentasi" class="btn btn-primary bg-color-blueDark" ng-disabled="document.UploadPresentasi===null" ng-click="DownloadDocument($event)">
                                                                                                    <i id="UploadPresentasi" class="fa fa-download"></i> Unduh
                                                                                                </button>
                                                                                            </fieldset>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="tab-pane" id="hhr4">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <fieldset ng-disabled="!allowUpdate">
                                                                            <div class="table-responsive" style="overflow:auto !important;">
                                                                                <table class="table table-bordered table-striped">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th style="vertical-align: middle;">No</th>
                                                                                            <th style="vertical-align: middle;">Kategori</th>
                                                                                            <th style="vertical-align: middle;">Hasil-hasil yang Positif</th>
                                                                                            <th style="vertical-align: middle;">Saran Untuk Peningkatan</th>
                                                                                        </tr>

                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr ng-model="row.Kode" ng-repeat="row in listTemplate | orderBy:KodeLangkah | filter:filterSofi">
                                                                                            <td width="20px" style="vertical-align:middle;">{{$index+1}}</td>
                                                                                            <td width="60px" style="vertical-align:middle;">{{row.Kriteria}}</td>
                                                                                            <td style="vertical-align: middle;">
                                                                                                <div class="smart-form">
                                                                                                    <div class="textarea textarea-resizable" style="width:auto;">
                                                                                                        <textarea rows="3" ng-model="row.Sofi" class="custom-scroll" style="width:100%;"></textarea>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td style="vertical-align: middle;">
                                                                                                <div class="smart-form">
                                                                                                    <div class="textarea textarea-resizable" style="width:auto;">
                                                                                                        <textarea rows="3" ng-model="row.SaranPeningkatan" class="custom-scroll" style="width:100%;"></textarea>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end widget content -->
                                                </div>
                                                <div class="form-actions text-left pad-b-15">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button id="btnSave" type="submit" class="btn btn-success" ng-if="isNew || allowUpdate" ng-click="Save()">
                                                                <i class="fa fa-save"></i>
                                                                {{getWord(isNew ? 'Save' : 'Update')}}
                                                            </button>
                                                            <button id="btnResetNilai" type="submit" class="btn btn-warning" ng-if="isNew || allowUpdate" ng-click="ResetPenjurian(penjurian_h.Kode)">
                                                                <i class="fa fa-flash"></i>
                                                                {{getWord('Reset Nilai')}}
                                                            </button>
                                                            <button id="btn_undo" type="button" class="btn btn-warning" ng-if="isNew" ng-click="Undo()">
                                                                <i class="fa fa-undo"></i>
                                                                {{getWord('Undo')}}
                                                            </button>
                                                            <button id="btnDelete" type="button" class="btn btn-danger" ng-if="false" ng-click="Delete()">
                                                                <i class="fa fa-remove"></i>
                                                                {{getWord('Delete')}}
                                                            </button>
                                                            <button id="btnBack" type="button" class="btn btn-primary" ng-click="ShowList()">
                                                                <i class="fa fa-arrow-left"></i>
                                                                {{getWord('Back')}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>