<div id="content">
    <section widget-grid id="wgtStreamPenjurian">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="'fa fa-table'"></i> </span>
                        <h2>Koefisien Penjurian</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <form id="frmKoefPenjurian" name="frmKoefPenjurian" class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="float-right">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <div class="col-md-3">
                                                                    <label class="control-label text-muted"><b>Periode</b></label>
                                                                    <select2 class="form-control no-padding select-custom" id="tahun" name="tahun" ng-model="tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode Stream --"></select2>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label class="control-label text-muted"><b>Jenis CIP</b></label>
                                                                    <select2 class="form-control no-padding select-custom" id="kodeJenisCip" name="kodeJenisCip" ng-model="kodeJenisCip" s2-options="item.id as item.text for item in listJenisCip" placeholder="-- Pilih Jenis CIP --"></select2>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button class="btn btn-primary" ng-click="changeKoef()"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;Calculate</button></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button ng-click="exportExcel()" class="btn btn-success width-100"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Download Excel</button></div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <hr class="width-70">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="widget-body">
                                            <div class="tab-content">
                                                <h2>Proses Perhitungan Koefisien Pengali (Antar Stream)</h2>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover cursor-pointer">
                                                        <thead>
                                                            <tr>
                                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">No.</th>
                                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">Stream</th>
                                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">PDCA</br>Awal</th>
                                                                <th colspan="5" style="vertical-align: middle; text-align: center;">Kalibrasi</th>
                                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">PDCA</br>Final</th>
                                                                <th rowspan="2" style="vertical-align: middle; text-align: center;">Koefisien</br><a style="font-size:smaller">(Double click untuk atur manual koefisien)</a></th>
                                                            </tr>
                                                            <tr>
                                                                <th style="vertical-align: middle; text-align: center;">1</th>
                                                                <th style="vertical-align: middle; text-align: center;">2</th>
                                                                <th style="vertical-align: middle; text-align: center;">3</th>
                                                                <th style="vertical-align: middle; text-align: center;">4</th>
                                                                <th style="vertical-align: middle; text-align: center;">5</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="stream in data.Stream">
                                                                <td style="vertical-align: middle; text-align: left;">{{stream.No}}</td>
                                                                <td style="vertical-align: middle;">{{stream.Title}}</td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{stream.Awal}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{stream.Kal1}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{stream.Kal2}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{stream.Kal3}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{stream.Kal4}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{stream.Kal5}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{stream.Final}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    <table>
                                                                        <tr><td>
                                                                                <a ng-if="editing!=stream.No" ng-dblclick="editItem(stream)">{{stream.Koefisien}}</a>
                                                                                <input class="form-control text-right" fraction="5"
                                                                                       type="text"  
                                                                                        maxlength="10" required
                                                                                       ng-if="editing==stream.No" ng-model="stream.Koefisien" autofocus style="width:100px;"/>
                                                                            </td>
                                                                        <td>
                                                                            <button ng-if="editing==stream.No" class="btn btn-primary" ng-click="doneEditing(stream)"><i class="fa fa-check" /></button>

                                                                        </td>
                                                                        </tr>
                                                                    </table>
                                                                        
                                                                      
                                                                    
                                                                   
                                       
                                                                </td>
                                                            </tr>
                                                            <tr ng-repeat="summary in data.Summary | limitTo : 3 : 0">
                                                                <td style="vertical-align: middle;" colspan="2"><strong>{{summary.Title}}</strong></td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Awal}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal1}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal2}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal3}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal4}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal5}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Final}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="10" style="background: #f2f2f2;">&nbsp;</td>
                                                            </tr>
                                                            <tr ng-repeat="summary in data.Summary | limitTo : 2 : 3">
                                                                <td style="vertical-align: middle;" colspan="2"><strong>{{summary.Title}}</strong></td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Awal}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal1}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal2}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal3}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal4}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal5}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Final}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="10" style="background: #f2f2f2;">&nbsp;</td>
                                                            </tr>
                                                            <tr ng-repeat="summary in data.Summary | limitTo : 2 : 5">
                                                                <td style="vertical-align: middle;" colspan="2"><strong>{{summary.Title}}</strong></td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Awal}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal1}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal2}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal3}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal4}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal5}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Final}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="10" style="background: #f2f2f2;">&nbsp;</td>
                                                            </tr>
                                                            <tr ng-repeat="summary in data.Summary | limitTo : 1 : 7">
                                                                <td style="vertical-align: middle;" colspan="2"><strong>{{summary.Title}}</strong></td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Awal}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal1}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal2}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal3}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal4}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Kal5}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{summary.Final}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="vertical-align: middle; " colspan="2"><strong>{{data.Koreksi.Title}}</strong></td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{data.Koreksi.Awal}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{data.Koreksi.Kal1}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{data.Koreksi.Kal2}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{data.Koreksi.Kal3}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{data.Koreksi.Kal4}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{data.Koreksi.Kal5}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    {{data.Koreksi.Final}}
                                                                </td>
                                                                <td style="vertical-align: middle;" align="center">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="9" style="background: #f2f2f2;">&nbsp;</td>
                                                                <td colspan="1" style="background: #f2f2f2;" align="center">
                                                                <button class="btn btn-primary" ng-click="saveKoef()"><i class="fa fa-save"/>&nbsp;&nbsp;Simpan</button>
                                                                <button class="btn btn-primary" ng-click="resetKoef()"><i class="fa fa-refresh" />&nbsp;&nbsp;Reset</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>