<div id="content">
    <section widget-grid id="wgtRekapitulasiPenjurianDetil">
        <div class="row">
            <article class="col-sm-12">
                <form id="frmRekapitulasiPenjurianDetil" name="frmRekapitulasiPenjurianDetil" class="form-horizontal" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="fs-3em">HASIL PENJURIAN</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="float-right">
                                            <fieldset>
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <label class="control-label text-muted"><b>FUNGSI</b></label>
                                                        <input type="text" class="form-control input-lg ta-center" name="firstName" placeholder="Auditee" data-bv-notempty="true" data-bv-notempty-message="The first name is required and cannot be empty" value="Engineering" disabled="disabled" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label class="control-label text-muted"><b>NAMA GUGUS</b></label>
                                                        <input type="text" class="form-control input-lg ta-center" name="firstName" placeholder="Auditee" data-bv-notempty="true" data-bv-notempty-message="The first name is required and cannot be empty" value="Engineering" disabled="disabled" />
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <label class="control-label text-muted"><b>TOTAL NILAI</b></label>
                                                        <div>
                                                            <button type="button" class="btn btn-labeled btn-success font-lg">
                                                                <span class="btn-label">
                                                                    <i class="glyphicon glyphicon-ok"></i>
                                                                </span> 2,890
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                    </div>
                    <hr class="width-70">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="jarviswidget mar-b-0" id="wid-id-7" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false">
                                <header>
                                    <ul class="nav nav-tabs pull-left in">
                                        <li class="active">
                                            <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-edit"></i> <span class="hidden-mobile hidden-tablet"> Plan </span> </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-cog"></i> <span class="hidden-mobile hidden-tablet"> Do </span> </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#hr3"> <i class="fa fa-lg fa-check-square-o"></i> <span class="hidden-mobile hidden-tablet"> Check </span> </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#hr4"> <i class="fa fa-lg fa-thumbs-o-up"></i> <span class="hidden-mobile hidden-tablet"> Action </span> </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#hr5"> <i class="fa fa-lg fa-book"></i> <span class="hidden-mobile hidden-tablet"> Risalah </span> </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#hr6"> <i class="fa fa-lg fa-calendar-o"></i> <span class="hidden-mobile hidden-tablet"> Presentasi </span> </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#hr7"> <i class="fa fa-lg fa-circle-o"></i> <span class="hidden-mobile hidden-tablet"> Boundary </span> </a>
                                        </li>
                                    </ul>
                                </header>
                                <!-- widget div-->
                                <div>
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="hr1">
                                                <div class="table-responsive" style="position: relative;">
                                                    <table id="exampleeeee" datatable class="display responsive" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="vertical-align: middle;" class="all">No.</th>
                                                                <th style="vertical-align: middle;" class="all">Langkah</th>
                                                                <th class="min-tablet">Poin PC Prove</th>
                                                                <th class="min-tablet">Poin FT Prove</th>
                                                                <th class="min-tablet">Poin I Prove</th>
                                                                <th class="none">Requirement Terbaik</th>
                                                                <th class="none">Penilaian Skala</th>
                                                                <th class="none">Skala (1-5) PC Prove</th>
                                                                <th class="none">Skala (1-5) FT Prove</th>
                                                                <th class="none">Skala (1-5) I Prove</th>
                                                                <th class="min-tablet">Nilai Juri PC Prove</th>
                                                                <th class="min-tablet">Nilai Juri FT Prove</th>
                                                                <th class="min-tablet">Nilai Juri I Prove</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <div style="position: absolute;top: 0;left: 0;">
                                                        <div class="label label-default"><i>Klik tombol <span class="plus-btn-green"></span> untuk melihat lebih detail</i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="hr2">
                                                <div class="table-responsive" style="position: relative;">
                                                    <table id="exampleeeee_2" class="display responsive" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="vertical-align: middle;" class="all">No.</th>
                                                                <th style="vertical-align: middle;" class="all">Langkah</th>
                                                                <th class="min-tablet">Poin PC Prove</th>
                                                                <th class="min-tablet">Poin FT Prove</th>
                                                                <th class="min-tablet">Poin I Prove</th>
                                                                <th class="none">Requirement Terbaik</th>
                                                                <th class="none">Penilaian Skala</th>
                                                                <th class="none">Skala (1-5) PC Prove</th>
                                                                <th class="none">Skala (1-5) FT Prove</th>
                                                                <th class="none">Skala (1-5) I Prove</th>
                                                                <th class="min-tablet">Nilai Juri PC Prove</th>
                                                                <th class="min-tablet">Nilai Juri FT Prove</th>
                                                                <th class="min-tablet">Nilai Juri I Prove</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <div style="position: absolute;top: 0;left: 0;">
                                                        <div class="label label-default"><i>Klik tombol <span class="plus-btn-green"></span> untuk melihat lebih detail</i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="hr3">
                                                <div class="table-responsive" style="position: relative;">
                                                    <table id="exampleeeee_3" class="display responsive" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="vertical-align: middle;" class="all">No.</th>
                                                                <th style="vertical-align: middle;" class="all">Langkah</th>
                                                                <th class="min-tablet">Poin PC Prove</th>
                                                                <th class="min-tablet">Poin FT Prove</th>
                                                                <th class="min-tablet">Poin I Prove</th>
                                                                <th class="none">Requirement Terbaik</th>
                                                                <th class="none">Penilaian Skala</th>
                                                                <th class="none">Skala (1-5) PC Prove</th>
                                                                <th class="none">Skala (1-5) FT Prove</th>
                                                                <th class="none">Skala (1-5) I Prove</th>
                                                                <th class="min-tablet">Nilai Juri PC Prove</th>
                                                                <th class="min-tablet">Nilai Juri FT Prove</th>
                                                                <th class="min-tablet">Nilai Juri I Prove</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <div style="position: absolute;top: 0;left: 0;">
                                                        <div class="label label-default"><i>Klik tombol <span class="plus-btn-green"></span> untuk melihat lebih detail</i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="hr4">
                                                <div class="table-responsive" style="position: relative;">
                                                    <table id="exampleeeee_4" class="display responsive" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="vertical-align: middle;" class="all">No.</th>
                                                                <th style="vertical-align: middle;" class="all">Langkah</th>
                                                                <th class="min-tablet">Poin PC Prove</th>
                                                                <th class="min-tablet">Poin FT Prove</th>
                                                                <th class="min-tablet">Poin I Prove</th>
                                                                <th class="none">Requirement Terbaik</th>
                                                                <th class="none">Penilaian Skala</th>
                                                                <th class="none">Skala (1-5) PC Prove</th>
                                                                <th class="none">Skala (1-5) FT Prove</th>
                                                                <th class="none">Skala (1-5) I Prove</th>
                                                                <th class="min-tablet">Nilai Juri PC Prove</th>
                                                                <th class="min-tablet">Nilai Juri FT Prove</th>
                                                                <th class="min-tablet">Nilai Juri I Prove</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <div style="position: absolute;top: 0;left: 0;">
                                                        <div class="label label-default"><i>Klik tombol <span class="plus-btn-green"></span> untuk melihat lebih detail</i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="hr5">
                                                <div class="table-responsive">
                                                    <table id="exampleeeee_5" class="display responsive" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="vertical-align: middle;" class="all">No.</th>
                                                                <th style="vertical-align: middle;" class="all">Langkah</th>
                                                                <th class="min-tablet">Poin PC Prove</th>
                                                                <th class="min-tablet">Poin FT Prove</th>
                                                                <th class="min-tablet">Poin I Prove</th>
                                                                <th class="none">Requirement Terbaik</th>
                                                                <th class="none">Penilaian Skala</th>
                                                                <th class="none">Skala (1-5) PC Prove</th>
                                                                <th class="none">Skala (1-5) FT Prove</th>
                                                                <th class="none">Skala (1-5) I Prove</th>
                                                                <th class="min-tablet">Nilai Juri PC Prove</th>
                                                                <th class="min-tablet">Nilai Juri FT Prove</th>
                                                                <th class="min-tablet">Nilai Juri I Prove</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <div style="position: absolute;top: 0;left: 0;">
                                                        <div class="label label-default"><i>Klik tombol <span class="plus-btn-green"></span> untuk melihat lebih detail</i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="hr6">
                                                <div class="table-responsive" style="position: relative;">
                                                    <table id="exampleeeee_6" class="display responsive" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="vertical-align: middle;" class="all">No.</th>
                                                                <th style="vertical-align: middle;" class="all">Langkah</th>
                                                                <th class="min-tablet">Poin PC Prove</th>
                                                                <th class="min-tablet">Poin FT Prove</th>
                                                                <th class="min-tablet">Poin I Prove</th>
                                                                <th class="none">Requirement Terbaik</th>
                                                                <th class="none">Penilaian Skala</th>
                                                                <th class="none">Skala (1-5) PC Prove</th>
                                                                <th class="none">Skala (1-5) FT Prove</th>
                                                                <th class="none">Skala (1-5) I Prove</th>
                                                                <th class="min-tablet">Nilai Juri PC Prove</th>
                                                                <th class="min-tablet">Nilai Juri FT Prove</th>
                                                                <th class="min-tablet">Nilai Juri I Prove</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <div style="position: absolute;top: 0;left: 0;">
                                                        <div class="label label-default"><i>Klik tombol <span class="plus-btn-green"></span> untuk melihat lebih detail</i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="hr7">
                                                <div class="table-responsive" style="position: relative;">
                                                    <table id="exampleeeee_7" class="display responsive" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="vertical-align: middle;" class="all">No.</th>
                                                                <th style="vertical-align: middle;" class="all">Langkah</th>
                                                                <th class="min-tablet">Poin PC Prove</th>
                                                                <th class="min-tablet">Poin FT Prove</th>
                                                                <th class="min-tablet">Poin I Prove</th>
                                                                <th class="none">Requirement Terbaik</th>
                                                                <th class="none">Penilaian Skala</th>
                                                                <th class="none">Skala (1-5) PC Prove</th>
                                                                <th class="none">Skala (1-5) FT Prove</th>
                                                                <th class="none">Skala (1-5) I Prove</th>
                                                                <th class="min-tablet">Nilai Juri PC Prove</th>
                                                                <th class="min-tablet">Nilai Juri FT Prove</th>
                                                                <th class="min-tablet">Nilai Juri I Prove</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <div style="position: absolute;top: 0;left: 0;">
                                                        <div class="label label-default"><i>Klik tombol <span class="plus-btn-green"></span> untuk melihat lebih detail</i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>
                        </div>
                    </div>
                    <div class="form-actions text-left">
                        <div class="row">
                            <div class="col-md-12">
                                <button id="btnBack" type="button" class="btn btn-primary" ng-click="ShowList()">
                                    <i class="fa fa-arrow-left"></i>
                                    {{getWord('Back')}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </article>
        </div>
    </section>
    <!-- content -->
</div>