<div id="content">
    <section widget-grid id="wgtRekapitulasiPenjurian">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="isShowList ? 'fa fa-table' : 'fa fa-edit'"></i> </span>
                        <h2>DAFTAR REKAPITULASI</h2>
                        <div class="va-table" style="height: 45px;text-align: right;float: right;margin-right: 10px;">
                            <div class="va-middle"><a href="page_juri_form.html"><button class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp;INPUT PENJURIAN</button></a></div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">

                            <form id="frmRekapitulasiPenjurianDetail" name="frmRekapitulasiPenjurianDetail" class="form-horizontal" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                <!-- <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="fs-3em">DAFTAR REKAPITULASI</div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="">
                                                        <div class="form-group">
                                                            <div class="col-md-12 text-right">
                                                                <a class="btn btn-lg btn-primary" href="page_juri_form.html"><i class="fa fa-plus"></i> INPUT PENJURIAN</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="dt_basic" datatable class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th data-hide="no">No</th>
                                                    <th data-class="expand"><i class="fa fa-fw fa-database txt-color-blue hidden-md hidden-sm hidden-xs"></i> Stream</th>
                                                    <th data-hide="phone"><i class="fa fa-fw fa-list txt-color-blue hidden-md hidden-sm hidden-xs"></i> Jenis</th>
                                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-user txt-color-blue hidden-md hidden-sm hidden-xs"></i> Nama Gugus</th>
                                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-exchange txt-color-blue hidden-md hidden-sm hidden-xs"></i> Fungsi</th>
                                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-check txt-color-blue hidden-md hidden-sm hidden-xs"></i> PDCA Intra</th>
                                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-check-square-o txt-color-blue hidden-md hidden-sm hidden-xs"></i> Koefisien</th>
                                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-check-square txt-color-blue hidden-md hidden-sm hidden-xs"></i> Final Score</th>
                                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-cog txt-color-blue hidden-md hidden-sm hidden-xs"></i> Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>A</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>A</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>A</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>B</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>B</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>B</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>B</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>B</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>C</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>C</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>11</td>
                                                    <td>C</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>12</td>
                                                    <td>C</td>
                                                    <td>PC PROVE</td>
                                                    <td>Batman</td>
                                                    <td>Ulubelu</td>
                                                    <td align="right">869</td>
                                                    <td align="right">12</td>
                                                    <td align="right">199</td>
                                                    <td>
                                                        <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a class="btn btn-xs btn-primary" ui-sref="app.rekapitulasipenjuriandetil"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </article>

            <article class="col-sm-12"></article>
        </div>
    </section>
    <!-- content -->
</div>