<div id="content">
    <section widget-grid id="wgtInputPenjurian">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="SofiDir" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bookmark-o"></i> </span>
                        <h2>SOFI PENJURIAN</h2>
                    </header>
                    <div>

                        <form id="frmSofi" name="frmSofi" class="form-horizontal">
                            <div class="row" ng-if="isShowList">
                                <div class="col-md-12">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="float-right">
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <div class="col-md-2">
                                                                <label class="control-label text-muted"><b>Periode</b></label>
                                                                <select2 class="form-control no-padding select-custom" id="tahun" name="tahun" ng-model="tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode --"></select2>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="control-label text-muted"><b>Stream</b></label>
                                                                <select2 class="form-control no-padding select-custom input" id="stream" name="stream" ng-model="stream" ng-change="changeStream(stream)" s2-options="item.id as item.text for item in listStream" placeholder="--Pilih Stream--"></select2>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                <div><button class="btn btn-primary" ng-click="find()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load Data</button></div>
                                                            </div>

                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <hr class="simple" ng-if="isShowList" />

                            <div class="widget-body" ng-if="isShowList">
                                <div class="table-responsive dragscroll" style="overflow: auto !important; max-height: 330px;cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                                    <table id="tblStream" class="table table-bordered table-hover cursor-pointer">
                                        <thead>
                                            <tr>
                                                <th class="midtext text-center">Stream</th>

                                                <th class="midtext text-center">Nomor CIP</th>
                                                <th class="midtext text-center">Nama Gugus</th>
                                                <th class="midtext text-center">Jenis CIP</th>
                                                <th class="midtext text-center">Juri</th>
                                                <th class="midtext text-center">Direktorat</th>
                                                <th class="midtext text-center">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="itm in data">
                                                <td class="text-left">{{itm.Nama}}</td>

                                                <td class="text-center" style="width: auto;">{{itm.KodeRegistrasi}}</td>
                                                <td class="text-left">{{itm.NamaGugus}}</td>
                                                <td class="text-left">{{itm.JenisCip}}</td>
                                                <td class="text-center">{{itm.Juri}}</td>
                                                <td class="text-center">{{itm.Direktorat}}</td>
                                                <td class="text-center"><input type="button" value="Set sofi" class="btn btn-xs btn-warning" ng-click="EditData(itm)"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="widget-body" ng-if="!isShowList">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <label class="control-label text-muted"><b>NO. GUGUS</b></label>
                                            <input type="text" class="form-control" ng-model="data.KodeRegistrasi" name="KodeRegistrasi" readonly="readonly" />
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label text-muted"><b>NAMA GUGUS</b></label>
                                            <input type="text" class="form-control" ng-model="data.NamaGugus" name="KodeRegistrasi" readonly="readonly" />
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label text-muted"><b>DIREKTORAT</b></label>
                                            <input type="text" class="form-control" name="Direktorat" placeholder="Direktorat" ng-model="data.Direktorat" ng-disabled="true" />
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="col-md-12">
                                            <label class="control-label text-muted"><b>JUDUL</b></label>
                                            <textarea name="JudulCIP" ng-model="data.JudulCIP" rows="4" class="form-control" placeholder="Judul CIP" maxlength="1000" readonly="readonly" />
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label text-muted"><b>JURI</b></label>
                                            <input type="text" class="form-control" name="Juri" placeholder="Juri" ng-model="data.Juri" ng-disabled="true" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="widget-body no-padding">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <fieldset>
                                                        <div class="table-responsive" style="overflow:auto !important;">
                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="vertical-align: middle;">No</th>
                                                                        <th style="vertical-align: middle;">Kategori</th>
                                                                        <th style="vertical-align: middle;">Hasil-hasil yang Positif</th>
                                                                        <th style="vertical-align: middle;">Saran Untuk Peningkatan</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-model="row.KodeKriteria" ng-repeat="row in sofiDetail | orderBy:KodeKriteria">
                                                                        <td width="20px" style="vertical-align:middle;">{{$index+1}}</td>
                                                                        <td width="60px" style="vertical-align:middle;">{{row.Kriteria}}</td>
                                                                        <td style="vertical-align: middle;">
                                                                            <div class="smart-form">
                                                                                <div class="textarea textarea-resizable" style="width:auto;">
                                                                                    <textarea rows="3" ng-model="row.Sofi" class="custom-scroll" style="width:100%;"></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td style="vertical-align: middle;">
                                                                            <div class="smart-form">
                                                                                <div class="textarea textarea-resizable" style="width:auto;">
                                                                                    <textarea rows="3" ng-model="row.SaranPeningkatan" class="custom-scroll" style="width:100%;"></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <!-- end widget content -->
                                        </div>
                                        <div class="form-actions text-left pad-b-15">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button id="btnSave" type="submit" class="btn btn-success" ng-click="Save()">
                                                        <i class="fa fa-save"></i>
                                                        {{'Save'}}
                                                    </button>
                                                    <button id="btn_undo" type="button" class="btn btn-warning" ng-click="Undo()" ng-if="false">
                                                        <i class="fa fa-undo"></i>
                                                        {{getWord('Undo')}}
                                                    </button>
                                                    <button id="btnBack" type="button" class="btn btn-primary" ng-click="ShowList()">
                                                        <i class="fa fa-arrow-left"></i>
                                                        {{getWord('Back')}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                </fieldset>
                            </div>
                        </form>

                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>