<style>
/* .verticalTableHeader:before {
    content:'';
    padding-top:110%;
    display:inline-block;
    vertical-align:middle;
} */

th.deskripsi-header {
  /* Something you can count on */
  height: 160px;
  white-space: nowrap;
  background: #f2f2f2;
}

th.deskripsi-header > div {
  transform: 
    /* Magic Numbers */
    translate(0px, 0px)
    /* 45 is really 360 - 45 */
    rotate(270deg);
  width: 20px;
}
th.deskripsi-header > div > span {
  padding: 5px 10px;
  font-size: x-small;
}

/* table {
  table-layout: fixed;
}
td:first-child, th:first-child {
  position:sticky;
  left:0;
  z-index:1;
}
thead tr th {
  position:sticky;
  top:0;
}
th:first-child {
    z-index:2;
} */

</style>

<div id="content">
    <section widget-grid id="wgtStreamPenjurian">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="isShowList ? 'fa fa-table' : 'fa fa-edit'"></i> </span>
                        <h2>Stream Penjurian</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <form id="frmStreamPenjurian" name="frmStreamPenjurian" class="form-horizontal" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="float-right">
                                                            <div class="form-group">
                                                                <div class="col-md-2">
                                                                    <label class="control-label text-muted"><b>Periode</b></label>
                                                                    <!-- <select2 class="form-control input-lg select-custom" placeholder="-- --"></select2> -->
                                                                    <select2 class="form-control no-padding select-custom" id="tahun" name="tahun" ng-model="tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode --"></select2>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="control-label text-muted"><b>Stream</b></label>
                                                                    <select2 class="form-control no-padding select-custom input" id="stream" name="stream" ng-model="stream" s2-options="item.id as item.text for item in listStream" placeholder="--Pilih Stream--"></select2>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button class="btn btn-primary" ng-click="find()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load</button></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button class="btn btn-success width-100" ng-click="downloadXLS()"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Download Excel</button></div>
                                                                </div>

                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <hr class="simple">
                                <div class="row">
                                    <div class="col-md-12">

                                        <!-- widget div-->
                                        <div>
                                            <!-- widget edit box -->
                                            <div class="jarviswidget-editbox">
                                                <!-- This area used as dropdown edit box -->
                                            </div>
                                            <!-- end widget edit box -->
                                            <!-- widget content -->
                                            <div class="widget-body">

                                                <div class="tab-content">
                                                    <div class="table-responsive dragscroll" style="overflow: auto !important; max-height: 500px;cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                                                        <table id="tblStream" class="table table-bordered table-hover cursor-pointer">
                                                            <thead>
                                                                <tr>
                                                                    <!--<th rowspan="3" style="vertical-align: middle;">No.</th>-->
                                                                    <th ng-repeat="h1 in data.Header1" rowspan="{{h1.rowspan}}" colspan="{{h1.colspan}}" style="vertical-align: middle;text-align:center;font-size:small; width: 200px;background:#f2f2f2 !important;">{{h1.Deskripsi}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <th ng-repeat="h2 in data.Header2" rowspan="{{h2.rowspan}}" colspan="{{h2.colspan}}" style="vertical-align: middle;text-align:center;background:#f2f2f2 !important;">{{h2.Deskripsi}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <th class="deskripsi-header" ng-repeat="h3 in data.Header3">
                                                                        <div><span class="to-upper">{{h3.Deskripsi}}</span></div>
                                                                        <!-- <div style="display: inline-block;" class="verticalTableHeader"></div> -->
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody ng-repeat="group in LoopRowSpan">
                                                                <tr ng-model="row.Kode" ng-repeat="row in group">
                                                                    <td style="vertical-align:middle;" rowspan="{{group.length}}" ng-if="$index===0">{{row.Kriteria}}</td>
                                                                    <td style="vertical-align: middle;">{{row.Langkah}}</td>
                                                                    <!--<td style="vertical-align: middle;" align="center">
                                                                        
                                                                    </td>
                                                                    <td style="vertical-align: middle;" align="center">
                                                                        
                                                                    </td>
                                                                    <td style="vertical-align: middle;" align="center">
                                                                        
                                                                    </td>-->
                                                                    <td align="center" ng-repeat="n in row.Data track by $index" style="vertical-align: middle;">
                                                                        {{n}}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </article>
        </div>
    </section>
    <!-- content -->
</div>