<div id="content">
    <section widget-grid id="wgtRekapitulasiPenjurian">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="'fa fa-trophy'"></i> </span>
                        <h2>SUMMARY PENJURIAN</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <form id="frmRekapitulasiPenjurian" name="frmRekapitulasiPenjurian" class="form-horizontal" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="float-right">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <div class="col-md-3">
                                                                    <label class="control-label text-muted"><b>Periode</b></label>
                                                                    <!-- <select2 class="form-control input-lg select-custom" placeholder="-- --"></select2> -->
                                                                    <select2 class="form-control no-padding select-custom" id="tahun" name="tahun" ng-model="tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode Penjurian --"></select2>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button class="btn btn-primary" ng-click="find()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load Data</button></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button class="btn btn-success width-100" ng-click="exportExcel()"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Download Excel</button></div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table datatable dt-options="ctrl.tableOptions" dt-instance="ctrl.dtInstance" dt-columns="ctrl.tableColumns" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th width="60%" class="midtext text-left">Kategori</th>
                                                    <th width="40%" class="midtext text-center">Skala Final Score</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="midtext to-upper">Non Kategori</td>
                                                    <td class="text-center"> < 650</td>
                                                </tr>
                                                <tr>
                                                    <td class="midtext to-upper">Bronze</td>
                                                    <td class="text-center"> > 650</td>
                                                </tr>
                                                <tr>
                                                    <td class="midtext to-upper">Silver</td>
                                                    <td class="text-center"> > 739</td>
                                                </tr>
                                                <tr>
                                                    <td class="midtext to-upper">Gold</td>
                                                    <td class="text-center"> > 819</td>
                                                </tr>
                                                <tr>
                                                    <td class="midtext to-upper">Platinum</td>
                                                    <td class="text-center"> > 889</td>
                                                </tr>
                                                <tr>
                                                    <td class="midtext to-upper">Diamond</td>
                                                    <td class="text-center"> > 949 </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="position: relative;display: table;width: 100%;height: 100%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detail Final Score</h4>
            </div>
            <div class="modal-body modal-lg-100-pct">
                <div class="row">
                    <div class="col-md-12">
                        <table datatable dt-options="ctrl.tableOptions2" dt-instance="ctrl.dtInstance2" dt-columns="ctrl.tableColumns2" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>