<div id="content">
    <section widget-grid id="wgtValueCreation">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="'fa fa-money'"></i> </span>
                        <h2>VALUE CREATION PENJURIAN</h2>
                    </header>
                    <div>

                        <div class="widget-body">
                            <form id="frmValueCreation" name="frmValueCreation" class="form-horizontal" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                <fieldset ng-if="isShowList">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="float-right">
                                                            <fieldset>
                                                                <div class="form-group">
                                                                    <div class="col-md-2">
                                                                        <label class="control-label text-muted"><b>Periode</b></label>
                                                                        <select2 class="form-control no-padding select-custom" id="tahun" name="tahun" ng-model="tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode --"></select2>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label class="control-label text-muted"><b>Stream</b></label>
                                                                        <select2 class="form-control no-padding select-custom input" id="stream" name="stream" ng-model="stream" ng-change="changeStream(stream)" s2-options="item.id as item.text for item in listStream" placeholder="--Pilih Stream--"></select2>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                        <div><button class="btn btn-primary" ng-click="find()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load Data</button></div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                        <div><button class="btn btn-success width-100" ng-click="exportExcel()"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Download Excel</button></div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <hr class="simple" />
                                    <div class="widget-body">
                                        <div class="table-responsive dragscroll" style="overflow: auto !important; max-height: 330px;cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                                            <table id="tblStream" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="midtext text-center">Stream</th>

                                                        <th class="midtext text-center">Nomor CIP</th>
                                                        <th class="midtext text-center">Nama Gugus</th>
                                                        <th class="midtext text-center">Jenis CIP</th>
                                                        <!--<th class="midtext text-center">Judul</th>-->
                                                        <th class="midtext text-center">Creation Real</th>
                                                        <th class="midtext text-center">Creation Potensi</th>
                                                        <th class="midtext text-center">Proyeksi</th>
                                                        <th class="midtext text-center">Aksi</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="itm in data">
                                                        <td class="text-left">{{itm.Nama}}</td>

                                                        <td class="text-center" style="width: auto;">{{itm.KodeRegistrasi}}</td>
                                                        <td class="text-left">{{itm.NamaGugus}}</td>
                                                        <td class="text-left">{{itm.JenisCip}}</td>
                                                        <!--<td class="text-wrap"><div style="word-wrap: break-word;width: 200px;"></div></td>-->
                                                        <td class="text-center">{{NumberFormatIDR(itm.ValueCreationReal)}}</td>
                                                        <td class="text-center">{{NumberFormatIDR(itm.ValueCreationPotensi)}}</td>
                                                        <td class="text-center">{{NumberFormatIDR(itm.ValueProyeksi)}}</td>
                                                        <td class="text-center"><input type="button" value="Set value" class="btn btn-xs btn-warning" ng-click="EditData(itm)"></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="widget-body" ng-if="!isShowList">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="col-md-12">
                                                <label class="control-label text-muted"><b>NO. GUGUS</b></label>
                                                <input type="text" class="form-control" ng-model="data.KodeRegistrasi" name="KodeRegistrasi" readonly="readonly" />
                                            </div>
                                            <div class="col-md-12">
                                                <label class="control-label text-muted"><b>NAMA GUGUS</b></label>
                                                <input type="text" class="form-control" ng-model="data.NamaGugus" name="KodeRegistrasi" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="col-md-12">
                                                <label class="control-label text-muted"><b>JUDUL</b></label>
                                                <textarea name="JudulCIP" ng-model="data.JudulCIP" rows="4" class="form-control" placeholder="Judul CIP" maxlength="1000" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label text-muted"><b>VALUE CREATON - REAL (USD)</b></label>
                                                <input type="text" class="form-control text-right" ng-model="data.ValueCreationReal" name="ValueCreationReal" custom-number-only allow-decimal="true" decimal-upto="2" allow-negative="false" placeholder="0" maxlength="20" />
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label text-muted"><b>VALUE CREATON - POTENSI (USD)</b></label>
                                                <input type="text" class="form-control text-right" ng-model="data.ValueCreationPotensi" name="ValueCreationPotensi" custom-number-only allow-decimal="true" decimal-upto="2" allow-negative="false" placeholder="0" maxlength="20" />
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label text-muted"><b>VALUE CREATON - PROYEKSI (USD)</b></label>
                                                <input type="text" class="form-control text-right" ng-model="data.ValueProyeksi" name="ValueProyeksi" custom-number-only allow-decimal="true" decimal-upto="2" allow-negative="false" placeholder="0" maxlength="20" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions text-left">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnSave" type="submit" class="btn btn-success" ng-click="Save()">
                                                    <i class="fa fa-save"></i>
                                                    {{getWord('Save')}}
                                                </button>

                                                <button id="btn_undo" type="button" class="btn btn-warning" ng-click="Undo()">
                                                    <i class="fa fa-undo"></i>
                                                    {{getWord('Undo')}}
                                                </button>

                                                <button id="btnBack" type="button" class="btn btn-primary" ng-click="ShowList()">
                                                    <i class="fa fa-arrow-left"></i>
                                                    {{getWord('Back')}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>
