<aside id="left-panel" ng-controller="MenuItemsController as ctrl">

    <!-- User info -->
    <!-- <div class="va-table width-100" style="height: 90px;">
        <div class="va-middle ta-center"><img src="styles/img/pge-logo.png" width="80%"></div>
    </div> -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <ul data-smart-menu-items="{{apiMenu}}"></ul>
    </nav>

    <span class="minifyme" data-action="minifyMenu" minify-menu>
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>