
<body id="registrasi">
    <div class="va-table height-100vh width-100 bg-reg">
        <div class="va-middle">
            <div style="margin: 4em auto;">
                <div class="bg-gradient-red-blue pad-3em width-75 mar-0-auto" style="position: relative;">
                    <div style="position: absolute;top: 0;left: 0;background-color: white;">
                        <div class="ta-center" style="position: relative;z-index: 1;padding: 1.7em 0em 1.7em 1.5em;"><img src="styles/img/pge-logo.png" width="200"></div>
                        <div style="position: absolute;top: 0;right: -3em;z-index: 0">
                            <div id="parallelogram"></div>
                        </div>
                    </div>
                    <div style="position: absolute;top: 0;left: 0;width:100%;background-color: white;">
                        <div class="ta-right pad-r-1em">
                            <h1 style="font-size: 1.2em;"><b>Profil Peserta Online (Pertamina Innovation Center (P-IMS))</b></h1>
                        </div>
                    </div>
                    <div class="va-table width-100">
                        <div class="va-middle width-75 padding-top-20">
                            <div class="ta-center padding-top-20">
                                <fieldset ng-if="!allowBack">
                                    <a class="btn btn-sm btn-primary" style="-webkit-box-shadow: -1px 15px 21px -13px rgba(0,0,0,0.75);-moz-box-shadow: -1px 15px 21px -13px rgba(0,0,0,0.75); box-shadow: -1px 15px 21px -13px rgba(0,0,0,0.75);" ui-sref="displaymember"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</a>&nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-sm btn-danger" style="-webkit-box-shadow: -1px 15px 21px -13px rgba(0,0,0,0.75);-moz-box-shadow: -1px 15px 21px -13px rgba(0,0,0,0.75); box-shadow: -1px 15px 21px -13px rgba(0,0,0,0.75);" ng-click="logOut()">Logout&nbsp;&nbsp;<i class="fa fa-sign-out"></i></a>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr class="width-50">
                    <br>
                    <div id="registrasi-cip" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                        <div>
                            <!-- widget content -->
                            <div class="widget-body">
                                <form id="frmUploadAvatar" name="frmUploadAvatar" class="form-horizontal" method="post" enctype="multipart/form-data" style="position: relative;">
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4" align="center">
                                            <div>
                                                <div class="mar-b-10px"><img ng-src="{{data.Avatar}}" style="width: 50%; -webkit-box-shadow: 0px 25px 20px -21px rgba(0,0,0,0.75);-moz-box-shadow: 0px 25px 20px -21px rgba(0,0,0,0.75);box-shadow: 0px 25px 20px -21px rgba(0,0,0,0.75);"></div>
                                                <fieldset class="smart-form">
                                                    <div class="form-group mar-t-2em">
                                                        <div class="input input-file">
                                                            <span class="button">
                                                                <input type="file" id="Avatar" name="Avatar" onchange="angular.element(this).scope().uploadAvatar(this)" required /><i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Foto
                                                            </span><input type="text" placeholder="Tipe File Foto harus jpg, jpeg, png, bmp" readonly="" ng-model="data.AvatarName" />
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-6" align="center">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <label class="control-label"><span class="text-muted">User Name</span></label>
                                                    <div class="color-white font-lg">{{data.Kode}}</div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6" align="center">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <label class="control-label"><span class="text-muted">Nama</span></label>
                                                    <div class="color-white font-lg">{{data.Nama}}</div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12" align="center">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <label class="control-label"><span class="text-muted">Email</span></label>
                                                    <div class="color-white font-lg">{{data.Email}}</div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12" align="center">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <label class="control-label"><span class="text-muted">Alamat</span></label>
                                                    <div class="color-white font-md">{{data.Alamat}}</div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <br>
                                <form id="frmChangePass" name="frmChangePass" class="form-horizontal" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" style="position: relative;">
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4" align="center">
                                            <label class="control-label text-muted"><b>PASSWORD SAAT INI</b></label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                <input class="form-control input-lg" id="oldPass" name="oldPass" placeholder="Password Saat Ini" type="password" ng-model="data.oldPass" required>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4" align="center">
                                            <label class="control-label text-muted"><b>GANTI PASSWORD</b></label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                                                <input class="form-control input-lg" id="newPass" name="newPass" placeholder="Password Baru" type="password" ng-model="data.newPass" required>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4" align="center">
                                            <label class="control-label text-muted"><b>KONFIRMASI PASSWORD</b></label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                                                <input class="form-control input-lg" id="confirmPass" name="confirmPass" placeholder="Konfirmasi Password" type="password" ng-model="data.confirmPass" required>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br><br>
                                    <div>
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12 ta-center">
                                                    <div class="va-table width-75 mar-0-auto">
                                                        <div class="va-middle width-50">
                                                            <button ng-click="changePassword()" class="btn btn-lg btn-success" style="-webkit-box-shadow: -1px 15px 21px -13px rgba(0,0,0,0.75);-moz-box-shadow: -1px 15px 21px -13px rgba(0,0,0,0.75); box-shadow: -1px 15px 21px -13px rgba(0,0,0,0.75);"><i class="fa fa-floppy-o"></i>&nbsp;Simpan</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget -->
                    </div>
                </div>
                <br>
                <div class="ta-center color-white">Copyright &copy; PT Pertamina Geothermal Energy</div>
            </div>
        </div>
    </div>
</body>