<style type="text/css">
    body {
        margin: auto 0 !important;
        height: auto !important;
        /*padding: 0px 0px 0px 0px !important;*/
        background-color: #fff !important;
    }

    .content {
        /*padding: 0px 0px 0px 0px !important;*/
        width: 99%;
    }

    .jarviswidget {
        margin-right: 0px !important;
        margin-bottom: 0px !important;
        margin-top: 5px;
        margin-left: 14px;
        border-top: #cccccc 1px solid;
    }
</style>


<div class="content">
    <section widget-grid id="wgtPesertaCip">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="pesertaCip" data-widget-color="red" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <div>
                        <div class="widget-body" ng-if="isShowList">
                            <form id="frmDaftarPeserta" name="frmDaftarPeserta" class="form-horizontal" style="margin-top: -15px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="float-right">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <div class="col-md-3">
                                                                    <label class="control-label text-muted"><b>Periode</b></label>
                                                                    <select2 class="form-control no-padding select-custom" id="periode" name="periode" ng-model="filter.tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode --"></select2>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button class="btn btn-primary" ng-click="reloadData()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load Data</button></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div style="text-align: right;">
                                                                        <button ng-click="exportExcel()" class="btn btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Export Excel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <hr class="width-100" style="margin-top: 0px; margin-bottom: 1px;">
                                <div class="row table-responsive">
                                    <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>