<body id="login">
    <div class="va-table height-100vh width-100 bg-reg">
        <div class="va-middle">
            <div class="ajax-loader">
                <figure>
                    <div class="dot white"></div>
                    <svg class="lds-message" width="300px" height="300px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;">
                        <g transform="translate(20 50)">
                            <circle cx="0" cy="0" r="6" fill="#456caa" transform="scale(0.00227195 0.00227195)">
                                <animateTransform attributeName="transform" type="scale" begin="-0.3375s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="0.9s" repeatCount="indefinite"></animateTransform>
                            </circle>
                        </g>
                        <g transform="translate(40 50)">
                            <circle cx="0" cy="0" r="6" fill="#88a2ce" transform="scale(0.199233 0.199233)">
                                <animateTransform attributeName="transform" type="scale" begin="-0.225s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="0.9s" repeatCount="indefinite"></animateTransform>
                            </circle>
                        </g>
                        <g transform="translate(60 50)">
                            <circle cx="0" cy="0" r="6" fill="#c2d2ee" transform="scale(0.541624 0.541624)">
                                <animateTransform attributeName="transform" type="scale" begin="-0.1125s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="0.9s" repeatCount="indefinite"></animateTransform>
                            </circle>
                        </g>
                        <g transform="translate(80 50)">
                            <circle cx="0" cy="0" r="6" fill="#fefefe" transform="scale(0.863728 0.863728)">
                                <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="0.9s" repeatCount="indefinite"></animateTransform>
                            </circle>
                        </g>
                    </svg>
                </figure>
            </div>

            <div style="position: relative;border-radius: 32px;font-family:'Tw Cen MT';" class="width-75 width-90-m mar-4em-auto mar-2em-auto-m">
                <div id="move-bg" class="bg-login pad-3em width-100 mar-0-auto pad-1em-m">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="va-table" style="height:300px;">
                                <div class="va-middle">
                                    <div class="ta-center"><img src="styles/img/logo-o.png" width="30%"></div>
                                    <div class="color-white ta-center" style="font-family:'Tw Cen MT';">
                                        <h1><b style="font-family:'Tw Cen MT';">LOGIN CIP ONLINE</b></h1>
                                        <h4 style="font-family:'Tw Cen MT';">PERTAMINA INNOVATION CENTER</h4>
                                        <hr>
                                        <div style="font-family:'Tw Cen MT';">Dalam meningkatkan kinerja dan kualitas perusahaan diperlukan adanya suatu aktivitas perbaikan dan perubahan yang bersifat berkesinambungan, itu telah diterapkan oleh Pertamina yang dikenal dengan Continous Improvement Program.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="va-table" style="height: 300px;">
                                <div class="va-middle">
                                    <form id="frmLogin" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12 form-group">
                                                    <div class="col-md-12 ta-center">
                                                        <span class="color-white fs-20">Silakan Login dengan Akun Anda!</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control pad-2em width-80 mar-0-auto width-100-m login-tksbox" name="userName" ng-model="loginData.userName" placeholder="User Name" data-bv-notempty="true" data-bv-notempty-message="The User Name is required and cannot be empty" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <div class="col-md-12">
                                                        <input type="password" class="form-control pad-2em width-80 mar-0-auto width-100-m login-tksbox" name="password" ng-model="loginData.password" placeholder="Password" data-bv-notempty="true" data-bv-notempty-message="The Password is required and cannot be empty" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12 ta-center">
                                                    <div class="va-table width-75 mar-0-auto width-90-m">
                                                        <div class="va-middle width-50">
                                                            <button type="submit" class="btn btn-success width-100 pad-1em" ng-click="login()">
                                                                Sign In&nbsp;&nbsp;<i class="fa fa-sign-in"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <br>
                                    <fieldset ng-if="false">
                                        <div class="form-group">
                                            <div class="ta-center">
                                                <a ng-click="historisPeserta()" style="color: #ffd800; text-decoration:underline;">Lihat Historis Peserta</a>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <div class="ta-center">
                                                <span class="color-white">Belum punya akun Peserta? <a ui-sref="register" class="text-muted"><b>Registrasi disini!</b></a></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <div class="ta-center color-white mar-t-2em-m" style="margin-top: -3em; font-family:'Tw Cen MT';">Copyright &copy; PT Pertamina (Persero)</div>
            <div class="visible-xs-block">
                <br>
            </div>
            <!-- end widget -->
        </div>
    </div>
      <script>
        $(document).ready(function () {
            //attributeForm
            $('#attributeForm').bootstrapValidator();

            $('#move-bg').mousemove(function (e) {
                var amountMovedX = (e.pageX * -1 / 6);
                var amountMovedY = (e.pageY * -1 / 6);
                $(this).css('background-position', amountMovedX + 'px ' + amountMovedY + 'px');
            });
        });
    </script>
</body>

<script type="text/ng-template" id="frmModal.html">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Historis Peserta</h4>
    </div>
    <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px;">
        <div class="row">
            <iframe ng-src="{{modal.url}}" style="height: 500px;"></iframe>
        </div>
    </div>
    <div class="modal-footer" style="height: 50px;">
        <button id="btnClose" class="btn btn-danger" ng-click="closeZoom()" style="margin-top: -14px;">
            <i class="fa fa-close"></i>Tutup
        </button>
    </div>
</script>