<div id="content">
    <section widget-grid id="gridDaftarLahanDetail">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="jarvisDaftarLahanDetail" data-widget-color="purity" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('Laporan Detail Asset Lahan')}}</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <form name="frmDaftarLahanDetail" id="frmDaftarLahanDetail" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">WKP</label>
                                    <div class="col-md-4">
                                        <select2 class="form-control no-padding select-custom" id="cmbWilayahKerja" name="cmbWilayahKerja" ng-model="data.KodeWilayahKerja" s2-options="item.id as item.text for item in listWilayahKerja" placeholder="-- Pilih Satu --"></select2>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">Tanggal</label>
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            <input type="text" name="TanggalAwal" class="form-control datepicker" ng-model="data.TanggalAwal" data-smart-datepicker data-date-format="dd.mm.yy" placeholder="dd.MM.yyyy">
                                        </div>
                                    </div>
                                    <label class="col-md-1 control-label text-center" style="width:20px !important;padding-left:0px;">s/d</label>
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            <input type="text" name="TanggalAkhir" class="form-control datepicker" ng-model="data.TanggalAkhir" data-smart-datepicker data-date-format="dd.mm.yy" placeholder="dd.MM.yyyy">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-bottom:30px;">
                                    <label class="col-md-1 control-label">Status</label>
                                    <div class="col-md-4">
                                        <select2 class="form-control no-padding select-custom" id="cmbStatus" name="cmbStatus" ng-model="data.KodeStatus" s2-options="item.id as item.text for item in listStatusLahan" placeholder="-- Pilih Satu --"></select2>
                                    </div>
                                </div>

                                <div class="table-responsive ">
                                    <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                                </div>
                                <div class="form-actions text-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnRefreshDtl" type="button" class="btn btn-primary" ng-click="ReloadDataAssetLahan()">
                                                <i class="fa fa-refresh"></i>
                                                {{getWord('Refresh')}}
                                            </button>
                                            <button id="btnExportXls" type="submit" class="btn btn-success" ng-click="ExportToXLS()">
                                                <i class="fa fa-file-excel-o"></i>
                                                {{getWord('Download')}} *.XLS
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>