<div id="content">
    <section widget-grid id="grdRptWkp">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="rptWkp" data-widget-color="purity" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Daftar WKP PGE</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="widget-body no-padding table-responsive ">
                                <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                            </div>
                            <div class="form-actions text-left" ng-if="stateFrom === 'dashboard'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button id="btnBack" type="button" class="btn btn-primary" ng-click="goBack()">
                                            <i class="fa fa-arrow-left"></i>
                                            {{getWord('Dashboard')}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>