﻿<div id="content">
    <section widget-grid id="gridExportAssetLahan">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="jarvisExportAssetLahan" data-widget-color="purity" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('Laporan Summary Asset Lahan')}}</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <form name="frmExportAssetLahan" id="frmExportAssetLahan" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">WKP</label>
                                    <div class="col-md-4">
                                        <select2 class="form-control no-padding select-custom" id="cmbWilayahKerja" name="cmbWilayahKerja" ng-model="data.KodeWilayahKerja" s2-options="item.id as item.text for item in listWilayahKerja" placeholder="-- Pilih Satu --" required></select2>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-bottom: 25px;">
                                    <label class="col-md-1 control-label">Periode</label>
                                    <div class="col-md-2">
                                        <select2 class="form-control no-padding select-custom" id="TahunAwal" name="TahunAwal" ng-model="data.TahunAwal" s2-options="item.id as item.text for item in listPeriode" placeholder="-- Pilih Satu --" required></select2>
                                    </div>
                                    <label class="col-md-1 control-label text-center" style="width:20px !important;padding-left:0px;">s/d</label>
                                    <div class="col-md-2">
                                        <select2 class="form-control no-padding select-custom" id="TahunAkhir" name="TahunAkhir" ng-model="data.TahunAkhir" s2-options="item.id as item.text for item in listPeriode" placeholder="-- Pilih Satu --" required></select2>
                                    </div>
                                </div>
                                <div class="table-responsive ">
                                    <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                                </div>
                                <div class="form-actions text-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnRefreshDtl" type="button" class="btn btn-primary" ng-click="ReloadDataAssetLahan()">
                                                <i class="fa fa-refresh"></i>
                                                {{getWord('Refresh')}}
                                            </button>
                                            <button id="btnExportXls" type="submit" class="btn btn-success" ng-click="ExportToXLS()">
                                                <i class="fa fa-file-excel-o"></i>
                                                {{getWord('Download')}} *.XLS
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>