<div id="content">
    <section widget-grid id="wgtformAuditPdca1">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="formAuditPdca1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="isShowList ? 'fa fa-table' : 'fa fa-edit'"></i> </span>
                        <h2>Laporan Audit PDCA I</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <form id="frmFormAuditPdca1" name="frmFormAuditPdca1" class="form-horizontal" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="float-right">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <div class="col-md-3">
                                                                    <label class="control-label text-muted"><b>Periode</b></label>
                                                                    <!-- <select2 class="form-control input-lg select-custom" placeholder="-- --"></select2> -->
                                                                    <select2 ng-change="onChangeTahun()" class="form-control no-padding select-custom" id="tahun" name="tahun" ng-model="tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode PDCA --"></select2>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button class="btn btn-primary" ng-click="find()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load Data</button></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button class="btn btn-success width-100" ng-click="excelGeneratePdcaList()"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Download Excel</button></div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                   
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>