<div id="content">
    <section widget-grid id="wgtAudit">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="mstAudit" data-widget-color="purity" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="isShowList ? 'fa fa-table' : 'fa fa-edit'"></i> </span>
                        <h2>{{isShowList ? getWord('List') : getWord(isNew ? 'New' : (allowUpdate ? 'Update' : 'View'))}} {{getWord('Audit PDCA')}}</h2>
                    </header>
                    <div>
                        <div class="widget-body" ng-if="isShowList">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label text-muted"><b>Periode</b></label>
                                    <select2 class="form-control no-padding select-custom" id="FilterTahun" name="FilterTahun" ng-model="filter.tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode --"></select2>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label text-muted"><b>Status Audit</b></label>
                                    <select2 class="form-control no-padding select-custom" id="FilterStatus" name="FilterStatus" ng-model="filter.status" s2-options="item.id as item.text for item in listStatus" placeholder="-- Pilih Status --"></select2>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                    <div><button class="btn btn-primary" ng-click="reloadData()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load Data</button></div>
                                </div>
                            </div>
                            <hr class="simple" />
                            <div class="row">
                                <div class="widget-body no-padding table-responsive">
                                    <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover" width="100%"></table>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body" ng-if="!isShowList">
                            <form id="frmAudit" name="frmAudit" class="form-horizontal">
                                <fieldset ng-disabled="!allowUpdate">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <div class="mar-b-10px">
                                                            <label class="control-label text-muted"><b>NO. GUGUS</b></label>
                                                        </div>
                                                        <div class="label label-success font-md bg-gradient-red-blue" ng-if="!isNew">{{data.KodeRegistrasi}}</div>
                                                        <div class="col-md-9" ng-if="isNew">
                                                            <select2 class="form-control no-padding select-custom" id="KodeRegistrasi" name="KodeRegistrasi" ng-model="data.KodeRegistrasi" s2-options="item.id as item.text for item in listKodeRegistrasi" placeholder="Pilih No. Gugus" ng-change="ChangeNoPendaftaran(data.KodeRegistrasi)" required></select2>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="text-right ">
                                                            <div class="fs-3em">FORM {{data.StatusAudit.toUpperCase()}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-group">
                                                    <div class="col-lg-12">
                                                        <label class="control-label text-muted"><b>JUDUL CIP</b></label>
                                                        <div>
                                                            <div class="txt-color-blueDark font-md">
                                                                <span>"</span>{{data.JudulCIP}}<span>"</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset>
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <label class="control-label text-muted"><b>UNIT/DIREKTORAT</b></label>
                                                        <input type="text" class="form-control input-lg" name="unit" placeholder="Unit/Direktorat" value="{{data.Unit}}/{{data.Direktorat}}" disabled="disabled" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="control-label text-muted"><b>NAMA GUGUS</b></label>
                                                        <input type="text" class="form-control input-lg" name="namaGugus" placeholder="Nama Gugus" value="{{data.NamaGugus}}" disabled="disabled" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset ng-if="!isAuditor2">
                                                <div class="form-group">
                                                    <div class="col-lg-6">
                                                        <div class="control-label text-muted"><b>AUDITOR</b></div>
                                                        <input type="text" class="form-control input-lg ta-center" name="auditor" placeholder="Auditor" value="{{pdca_h.Auditor}}" ng-model="pdca_h.Auditor" />
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="control-label text-muted"><b>AUDITEE</b></div>
                                                        <input type="text" class="form-control input-lg ta-center" name="auditee" placeholder="Auditee" value="{{pdca_h.Auditee}}" ng-model="pdca_h.Auditee" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset ng-if="isAuditor2">
                                                <div class="form-group">
                                                    <div class="col-lg-6">
                                                        <div class="control-label text-muted"><b>AUDITOR</b></div>
                                                        <input type="text" class="form-control input-lg ta-center" name="auditor2" placeholder="Auditor" value="{{pdca_h.Auditor_2}}" ng-model="pdca_h.Auditor_2" />
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="control-label text-muted"><b>AUDITEE</b></div>
                                                        <input type="text" class="form-control input-lg ta-center" name="auditee2" placeholder="Auditee" value="{{pdca_h.Auditee_2}}" ng-model="pdca_h.Auditee_2" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <hr class="width-70">
                                    <div class="row">
                                        <fieldset>
                                            <div class="col-md-12">
                                                <div class="jarviswidget mar-b-0" id="wid-id-7" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false">
                                                    <header>
                                                        <ul class="nav nav-tabs pull-left in">
                                                            <li class="active">
                                                                <a data-toggle="tab" href="#hhr1"> <i class="fa fa-lg fa-edit"></i> <span class="hidden-mobile hidden-tablet"> Langkah </span> </a>
                                                            </li>
                                                            <li>
                                                                <a data-toggle="tab" href="#hhr2"> <i class="fa fa-lg fa-keyboard-o"></i> <span class="hidden-mobile hidden-tablet"> Hasil Audit PDCA </span> </a>
                                                            </li>
                                                            <li>
                                                                <a data-toggle="tab" href="#hhr3"> <i class="fa fa-lg fa-bullhorn color-red"></i> <span class="hidden-mobile hidden-tablet"> Kirim Notifikasi Kelengkapan Dokumen </span> </a>
                                                            </li>
                                                        </ul>
                                                    </header>
                                                    <!-- widget div-->
                                                    <div>
                                                        <!-- widget edit box -->
                                                        <div class="jarviswidget-editbox">
                                                            <!-- This area used as dropdown edit box -->
                                                        </div>
                                                        <!-- end widget edit box -->
                                                        <!-- widget content -->
                                                        <div class="widget-body">
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="hhr1">
                                                                    <div class="jarviswidget mar-b-0" id="wid-id-17" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false">
                                                                        <header>
                                                                            <ul class="nav nav-tabs pull-left in">
                                                                                <li class="{{$index==0 ? 'active':''}}" ng-repeat="x in listKriteria">
                                                                                    <a data-toggle="tab" href="#hr{{x.Kode}}"><i class="{{x.Class}}"></i><span class="hidden-mobile hidden-tablet"> {{x.Deskripsi}} </span></a>
                                                                                </li>
                                                                            </ul>
                                                                        </header>
                                                                        <!-- widget div-->
                                                                        <div>
                                                                            <!-- widget edit box -->
                                                                            <div class="jarviswidget-editbox">
                                                                                <!-- This area used as dropdown edit box -->
                                                                            </div>
                                                                            <!-- end widget edit box -->
                                                                            <!-- widget content -->
                                                                            <div class="widget-body">
                                                                                <div class="tab-content">
                                                                                    <div class="tab-pane {{$index==0 ? 'active':''}}" id="hr{{x.Kode}}" ng-repeat="x in listKriteria">
                                                                                        <div class="table-responsive dragscroll" style="overflow: auto !important; max-height: 400px;cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                                                                                            <table class="table table-bordered table-striped">
                                                                                                <thead>
                                                                                                    <tr>

                                                                                                        <th>Langkah</th>
                                                                                                        <th>Sub Langkah</th>
                                                                                                        <th>Checklist (<span class="text-danger">Klik kotak untuk pilih</span>)</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody ng-repeat="span_pdca in LoopRowSpan">
                                                                                                    <tr ng-model="row.Kode" ng-repeat="row in span_pdca | filter:{'KodeKriteria':x.Kode} ">

                                                                                                        <td width="10%" style="vertical-align:middle;" rowspan="{{span_pdca.length}}" ng-if="$index===0">
                                                                                                            {{row.KodeLangkah.substring(0,1)==='X'?'':row.KodeLangkah}}
                                                                                                        </td>
                                                                                                        <td width="75%" style="vertical-align:middle;">{{row.Langkah}}</td>
                                                                                                        <td width="20%" align="center">
                                                                                                            <label class="checkbox-inline pad-t-0">
                                                                                                                <input type="checkbox" ng-model="row.Cek" class="checkbox style-3" ng-disabled="data.StatusAudit ==='Audit PDCA II' ? row.StatusAudit ==='Audit PDCA I' ? true : isAuditor2 : isAuditor2">
                                                                                                                <span></span>
                                                                                                            </label>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- end widget content -->
                                                                        </div>
                                                                        <!-- end widget div -->
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="hhr2">
                                                                    <div class="row">
                                                                        <div class="col-md-12" ng-if="!isAuditor2">
                                                                            <fieldset>
                                                                                <div class="form-group">
                                                                                    <div class="col-md-6">
                                                                                        <label class="control-label">Anggota Tim</label>
                                                                                        <input class="form-control tagsinput" data-role="tagsinput" ng-model="anggotaCIP.Anggota" disabled="disabled">
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label class="control-label">Lingkup Kerja Tim</label>
                                                                                        <div class="smart-form">
                                                                                            <div class="textarea textarea-expandable">
                                                                                                <textarea rows="3" class="custom-scroll" ng-model="pdca_h.LingkupKerjaTim"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>
                                                                            <fieldset>
                                                                                <div class="form-group">
                                                                                    <div class="col-lg-12">
                                                                                        <label class="control-label">Catatan Audit</label>
                                                                                        <div class="smart-form">
                                                                                            <div class="textarea textarea-resizable">
                                                                                                <textarea rows="3" class="custom-scroll" ng-model="pdca_h.CatatanAudit"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>
                                                                            <fieldset>
                                                                                <div class="form-group">
                                                                                    <div class="col-md-6">
                                                                                        <label class="control-label">Evidence Audit</label>
                                                                                        <div class="smart-form">
                                                                                            <div class="textarea textarea-resizable">
                                                                                                <textarea rows="3" class="custom-scroll" ng-model="pdca_h.EvidenceAudit"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label class="control-label">Rekomendasi/Coach</label>
                                                                                        <div class="smart-form">
                                                                                            <div class="textarea textarea-resizable">
                                                                                                <textarea rows="3" class="custom-scroll" ng-model="pdca_h.Coach"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>
                                                                        </div>
                                                                        <div class="col-md-12" ng-if="isAuditor2">
                                                                            <fieldset>
                                                                                <div class="form-group">
                                                                                    <div class="col-md-6">
                                                                                        <label class="control-label">Anggota Tim</label>
                                                                                        <input class="form-control tagsinput" data-role="tagsinput" ng-model="anggotaCIP.Anggota" disabled="disabled">
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label class="control-label">Lingkup Kerja Tim</label>
                                                                                        <div class="smart-form">
                                                                                            <div class="textarea textarea-expandable">
                                                                                                <textarea rows="3" class="custom-scroll" ng-model="pdca_h.LingkupKerjaTim_2"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>
                                                                            <fieldset>
                                                                                <div class="form-group">
                                                                                    <div class="col-lg-12">
                                                                                        <label class="control-label">Catatan Audit</label>
                                                                                        <div class="smart-form">
                                                                                            <div class="textarea textarea-resizable">
                                                                                                <textarea rows="3" class="custom-scroll" ng-model="pdca_h.CatatanAudit_2"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>
                                                                            <fieldset>
                                                                                <div class="form-group">
                                                                                    <div class="col-md-6">
                                                                                        <label class="control-label">Evidence Audit</label>
                                                                                        <div class="smart-form">
                                                                                            <div class="textarea textarea-resizable">
                                                                                                <textarea rows="3" class="custom-scroll" ng-model="pdca_h.EvidenceAudit_2"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label class="control-label">Rekomendasi/Coach</label>
                                                                                        <div class="smart-form">
                                                                                            <div class="textarea textarea-resizable">
                                                                                                <textarea rows="3" class="custom-scroll" ng-model="pdca_h.Coach_2"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </fieldset>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="hhr3">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="table-responsive dragscroll" style="overflow: auto !important; max-height: 400px;cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                                                                                <table class="table table-bordered table-striped">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th colspan="3">Dokumen</th>
                                                                                            <th align="center" class="text-center">Aksi</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td> Unggahkan Risalah Peserta</td>
                                                                                            <td style="border-right: none;"><i class="{{classRisalah}}"></i> {{data.Risalah}}</td>
                                                                                            <td width="10%" align="center">
                                                                                                <fieldset>
                                                                                                    <button id="Risalah" class="btn btn-primary bg-color-blue" ng-disabled="false" ng-click="PreviewDocument($event)">
                                                                                                        <i class="fa fa-eye"></i> Pratinjau
                                                                                                    </button>
                                                                                                </fieldset>
                                                                                            </td>
                                                                                            <td align="center">
                                                                                                <button id="IsUploadRisalah" class="btn btn-primary bg-color-blueDark" ng-disabled="isAuditPDCA_1 ? !data.IsUploadRisalah : true" ng-click="TrigerUploadDocument($event)">
                                                                                                    <i class="fa fa-send-o"></i> Kirim Notifikasi
                                                                                                </button>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td> Unggahkan Verifikasi Keuangan </td>
                                                                                            <td style="border-right: none;"><i class="{{classVerifikasiKeuangan}}"></i> {{data.VerifikasiKeuangan}}</td>
                                                                                            <td width="10%" align="center">
                                                                                                <button id="VerifikasiKeuangan" class="btn btn-primary bg-color-blue" ng-disabled="false" ng-click="PreviewDocument($event)">
                                                                                                    <i class="fa fa-eye"></i> Pratinjau
                                                                                                </button>
                                                                                            </td>
                                                                                            <td width="20%" align="center">
                                                                                                <button id="IsUploadVerifikasiKeuangan" class="btn btn-primary bg-color-blueDark" ng-disabled="!isAuditPDCA_1 ? !data.IsUploadVerifikasiKeuangan : true" ng-click="TrigerUploadDocument($event)">
                                                                                                    <i class="fa fa-send-o"></i> Kirim Notifikasi
                                                                                                </button>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td> Unggahkan STK Peserta </td>
                                                                                            <td style="border-right: none;"><i class="{{classSTK}}"></i> {{data.STK}}</td>
                                                                                            <td width="10%" align="center">
                                                                                                <button id="STK" class="btn btn-primary bg-color-blue" ng-disabled="false" ng-click="PreviewDocument($event)">
                                                                                                    <i class="fa fa-eye"></i> Pratinjau
                                                                                                </button>
                                                                                            </td>
                                                                                            <td width="20%" align="center">
                                                                                                <button id="IsUploadSTK" class="btn btn-primary bg-color-blueDark" ng-disabled="!isAuditPDCA_1 ? !data.IsUploadSTK : true" ng-click="TrigerUploadDocument($event)">
                                                                                                    <i class="fa fa-send-o"></i> Kirim Notifikasi
                                                                                                </button>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td> Unggahkan Abster Peserta </td>
                                                                                            <td style="border-right: none;"><i class="{{classAbster}}"></i> {{data.Abster}}</td>
                                                                                            <td width="10%" align="center">
                                                                                                <button id="Abster" class="btn btn-primary bg-color-blue" ng-disabled="false" ng-click="PreviewDocument($event)">
                                                                                                    <i class="fa fa-eye"></i> Pratinjau
                                                                                                </button>
                                                                                            </td>
                                                                                            <td width="20%" align="center">
                                                                                                <button id="IsUploadAbster" class="btn btn-primary bg-color-blueDark" ng-disabled="!isAuditPDCA_1 ? !data.IsUploadAbster : true" ng-click="TrigerUploadDocument($event)">
                                                                                                    <i class="fa fa-send-o"></i> Kirim Notifikasi
                                                                                                </button>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td> Unggahkan KOMET Peserta </td>
                                                                                            <td style="border-right: none;"><i class="{{classKOMET}}"></i> {{data.KOMET}}</td>
                                                                                            <td width="10%" align="center">
                                                                                                <button id="KOMET" class="btn btn-primary bg-color-blue" ng-disabled="false" ng-click="PreviewDocument($event)">
                                                                                                    <i class="fa fa-eye"></i> Pratinjau
                                                                                                </button>
                                                                                            </td>
                                                                                            <td width="20%" align="center">
                                                                                                <button id="IsUploadKOMET" class="btn btn-primary bg-color-blueDark" ng-disabled="!isAuditPDCA_1 ? !data.IsUploadKOMET : true" ng-click="TrigerUploadDocument($event)">
                                                                                                    <i class="fa fa-send-o"></i> Kirim Notifikasi
                                                                                                </button>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td> Unggahkan Presentasi Peserta </td>
                                                                                            <td style="border-right: none;"><i class="{{classUploadPresentasi}}"></i> {{data.UploadPresentasi}}</td>
                                                                                            <td width="10%" align="center">
                                                                                                <button id="UploadPresentasi" class="btn btn-primary bg-color-blue" ng-disabled="false" ng-click="PreviewDocument($event)">
                                                                                                    <i class="fa fa-eye"></i> Pratinjau
                                                                                                </button>
                                                                                            </td>
                                                                                            <td width="20%" align="center">
                                                                                                <button id="IsUploadPresentasi" class="btn btn-primary bg-color-blueDark" ng-disabled="!isAuditPDCA_1 ? !data.IsUploadPresentasi : true" ng-click="TrigerUploadDocument($event)">
                                                                                                    <i class="fa fa-send-o"></i> Kirim Notifikasi
                                                                                                </button>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </fieldset>
                                <div class="form-actions text-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnSave" type="submit" class="btn btn-success" ng-if="isNew || allowUpdate" ng-click="Save()">
                                                <i class="fa fa-save"></i>
                                                {{getWord(isNew ? 'Save' : 'Update')}}
                                            </button>
                                            <button id="btn_undo" type="button" class="btn btn-warning" ng-if="isNew" ng-click="Undo()">
                                                <i class="fa fa-undo"></i>
                                                {{getWord('Undo')}}
                                            </button>
                                            <button id="btnDelete" type="button" class="btn btn-danger" ng-if="!isNew && allowUpdate" ng-click="Delete()">
                                                <i class="fa fa-remove"></i>
                                                {{getWord('Delete')}}
                                            </button>
                                            <button id="btnBack" type="button" class="btn btn-primary" ng-click="ShowList()">
                                                <i class="fa fa-arrow-left"></i>
                                                {{getWord('Back')}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>