<div id="content">
    <section widget-grid id="wgtTemplatePdca">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="mstTemplatePdca" data-widget-color="purity" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="isShowList ? 'fa fa-table' : 'fa fa-edit'"></i></span>
                        <h2>{{isShowList ? getWord('List') : getWord(isNew ? 'New' : 'Update')}} {{getWord(' Kriteria & Langkah')}}</h2>
                    </header>
                    <div>
                        <div class="widget-body" ng-if="isShowList">
                            <div class="widget-body no-padding table-responsive ">
                                <table datatable dt-options="ctrl.tableOptions"
                                       dt-columns="ctrl.tableColumns" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                            </div>
                            <div class="form-actions text-left">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" ng-click="NewData(event)">
                                            <i class="fa fa-plus"></i>
                                            {{getWord('New')}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget-body" ng-if="!isShowList">
                            <form name="frmFungsi" id="frmFungsi" class="form-horizontal">
                                <div class="form-group" ng-show="false">
                                    <label class="col-lg-1 control-label">Kode</label>
                                    <div class="col-lg-4">
                                        <input name="Kode" ng-model="data.Kode" ng-disabled="true" type="text" class="form-control" placeholder="Kode" maxlength="20" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-1 control-label">Kriteria</label>
                                    <div class="col-lg-4">
                                        <select2 class="form-control no-padding select-custom" id="KodeKriteria" name="KodeKriteria" ng-model="data.KodeKriteria" s2-options="item.id as item.text for item in listKriteria" placeholder="-- --"></select2>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-lg-1 control-label">langkah</label>
                                    <div class="col-lg-4">
                                        <input name="Langkah" ng-model="data.KodeLangkah" type="text" class="form-control" placeholder="Langkah" maxlength="10"  />
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-lg-1 control-label">Sub langkah</label>
                                    <div class="col-lg-4">
                                        <input name="Langkah" ng-model="data.Langkah" type="text" class="form-control" placeholder="Langkah-langkah" maxlength="100" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-1 control-label">No. Urut</label>
                                    <div class="col-md-4">
                                        <input type="text" name="NoUrut" class="form-control text-right" ng-model="data.NoUrut" custom-number-only allow-decimal="false" decimal-upto="0" allow-negative="false" placeholder="0" maxlength="4" required />
                                    </div>
                                </div>

                                
                                <div class="form-actions text-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnSave" type="submit" class="btn btn-success" ng-click="Save()">
                                                <i class="fa fa-save"></i>
                                                {{getWord(isNew ? 'Save' : 'Update')}}
                                            </button>
                                            <button id="btn_undo" type="button" class="btn btn-warning" ng-click="Undo()">
                                                <i class="fa fa-undo"></i>
                                                {{getWord('Undo')}}
                                            </button>
                                            <button id="btnDelete" type="button" class="btn btn-danger" ng-if="!isNew" ng-click="Delete()">
                                                <i class="fa fa-remove"></i>
                                                {{getWord('Delete')}}
                                            </button>
                                            <button id="btnBack" type="button" class="btn btn-primary" ng-click="ShowList()">
                                                <i class="fa fa-arrow-left"></i>
                                                {{getWord('Back')}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>