<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <!-- row -->
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div style="
                      margin:auto;
                      margin-top: 0px;
                      width: 90%;
                      /*border: 3px solid #73AD21;*/
                      padding: 10px;
                      text-align: center;
                      vertical-align: middle;
                      font-weight: bold;
                      font-size: 40px;
                      font-family:'Tw Cen MT';
                      color:#030756;
                      overflow: auto;
                ">
                    <div class="ta-center"><img src="styles/img/logo-o.png" width="20%"></div>
                    W E L C O M E <br />to <br />PERTAMINA INNOVATION CENTER<br />(P - I M S)
                </div>
            </article>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
