<div id="content">
    <section widget-grid id="wgtPesertaCip">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="pesertaCipReg" data-widget-color="red" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i> </span>
                        <h2>Registrasi</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <ul id="tabMember" class="nav nav-tabs bordered">
                                <li class="active">
                                    <a href="#tab1" data-toggle="tab"><i class="fa fa-fw fa-group"></i> General</a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab"><i class="fa fa-fw fa-folder-open"></i> Kelengkapan Dokumen</a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab"><i class="fa fa-fw fa-list"></i> SOFI</a>
                                </li>
                                <li>
                                    <a href="#tab4" data-toggle="tab"><i class="fa fa-fw fa-history"></i> Historis</a>
                                </li>
                            </ul>
                            <div id="tabDetailMember" class="tab-content pad-1em" style="background: inherit">
                                <div class="tab-pane fade in active" id="tab1">
                                    <form id="frmRegistrasiPeserta" name="frmRegistrasiPeserta" class="form-horizontal">
                                        <fieldset ng-disabled="isSubmited">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label">Nama Gugus</label>
                                                            <input type="text" class="form-control text-capitalize" ng-model="data.NamaGugus" maxlength="255" required />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label"><span>Judul CIP</span></label>
                                                            <input type="text" class="form-control text-capitalize" ng-model="data.JudulCIP" maxlength="255" required />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label">Tahun</label>
                                                            <select2 ng-disabled="isSubmited" class="form-control no-padding select-custom" id="Tahun" name="Tahun" ng-model="data.Tahun" s2-options="item.id as item.text for item in listTahun" placeholder="--Pilih Tahun--" required></select2>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label">Jenis CIP</label>
                                                            <select2 ng-disabled="isSubmited" class="form-control no-padding select-custom" id="KodeJenisCIP" name="KodeJenisCIP" ng-model="data.KodeJenisCIP" s2-options="item.id as item.text for item in listJenisCIP" placeholder="--Pilih Jenis--" required></select2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label"><span>Direktorat</span></label>
                                                            <input type="text" class="form-control" ng-model="data.DirektoratDes" maxlength="255" readonly="readonly" ng-disabled="true" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label"><span>Unit</span></label>
                                                            <input type="text" class="form-control" ng-model="data.UnitDes" maxlength="255" readonly="readonly" ng-disabled="true" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label">Sub Unit</label>
                                                            <select2 ng-disabled="isSubmited" class="form-control no-padding select-custom" id="SubUnit" name="SubUnit" ng-model="data.SubUnit" s2-options="item.id as item.text for item in listSubUnit" placeholder="--Pilih Sub Unit--" required></select2>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label"><span>Jumlah Anggota</span></label>
                                                            <div class="input-group col-md-6">
                                                                <input type="text" class="form-control" ng-model="data.JumlahAnggota" maxlength="255" readonly="readonly" ng-disabled="true" />
                                                                <div ng-if="!allowInputAnggota" ng-class="isSubmited ? 'input-group-addon cursor-pointer-hover btn base-bgcolor-green disabled' : 'input-group-addon cursor-pointer-hover btn base-bgcolor-green'" ng-click="showInputAnggota()"><i class="fa fa-plus"></i> Tambah</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <fieldset ng-if="listAnggota.length > 0 || allowInputAnggota" class="ng-animate well well-sm bg-color-white">
                                                <div class="ng-animate" ng-if="allowInputAnggota">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <label class="control-label"><span>Nama</span></label>
                                                                    <select2 ng-disabled="isSubmited" class="form-control no-padding select-custom" id="KodeUser" name="SubUnit" ng-model="anggota.KodeUser" s2-options="item.id as item.text for item in listUserUnit" placeholder="--Pilih Pengguna--"></select2>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <label class="control-label"><span>Status Anggota</span></label>
                                                                    <select2 ng-disabled="isSubmited" class="form-control no-padding select-custom" id="KodeStatusAnggota" name="SubUnit" ng-model="anggota.KodeStatusAnggota" s2-options="item.id as item.text for item in listStatusAnggota" placeholder="--Pilih Pengguna--"></select2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <label class="control-label"><span>Email</span></label>
                                                                    <input type="text" class="form-control" ng-model="anggota.Email" maxlength="255" readonly="readonly" ng-disabled="true" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <label class="control-label"><span>No. Pegawai</span></label>
                                                                    <input type="text" class="form-control" ng-model="anggota.NoPek" maxlength="255" readonly="readonly" ng-disabled="true" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center" style="padding-top:10px; padding-bottom: 10px;">
                                                            <span class="btn btn-success" ng-disabled="!isValidInputAnggota" ng-click="addAnggota()">
                                                                <i class="fa fa-plus"></i> {{getWord('Tambah')}}
                                                            </span>
                                                            <span id="btn_undo" class="btn btn-danger" ng-click="undoAddAnggota()">
                                                                <i class="fa fa-close"></i>
                                                                {{getWord('Undo')}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row ng-animate">
                                                    <div class="col-md-12" style="overflow: auto;">
                                                        <table class="table table-bordered table-striped table-hover" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th class="midtext text-center" width="20px">No.</th>
                                                                    <th class="midtext text-center" width="50%">Nama Anggota</th>
                                                                    <th class="midtext text-center" width="10%">Status Anggota</th>
                                                                    <th class="midtext text-center" width="10%">No. Pegawai</th>
                                                                    <th class="midtext text-center" width="20%">Email</th>
                                                                    <th class="midtext text-center">#</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="row in listAnggota track by $index" class="table-normal-tr">
                                                                    <td class="text-right">{{$index+1}}</td>
                                                                    <td>{{row.NamaAnggota}}</td>
                                                                    <td>{{row.StatusDes}}</td>
                                                                    <td class="text-center">{{row.NoPek}}</td>
                                                                    <td>{{row.Email}}</td>
                                                                    <td class="text-center">
                                                                        <div ng-class="isSubmited ? 'btn btn-danger btn-xs disabled' : 'btn btn-danger btn-xs'" ng-click="deleteAnggota(row)"><i class="fa fa-remove"></i> </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </fieldset>
                                        <div class="form-actions text-center">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button ng-disabled="listAnggota.length < 1 || isSubmited" id="btnSave" type="submit" class="btn btn-success" ng-click="submit()">
                                                        <i class="fa fa-save"></i>
                                                        {{getWord('Submit')}}
                                                    </button>
                                                    <button id="btn_undo" type="button" class="btn btn-warning" ng-click="undo()">
                                                        <i ng-class="isSubmited ? 'fa fa-remove' : 'fa fa-undo'"></i>
                                                        {{isSubmited ? getWord('Selesai') : getWord('Undo')}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <div class="widget-body">
                                        <form id="frmDokumen" name="frmDokumen" class="form-horizontal" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <fieldset class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left text-left">Risalah <span ng-if="true">( <a id="Risalah" ng-click="PreviewDocument($event)">{{data.Risalah}}</a> )</span></label>
                                                                <div ng-class="data.Kode === '' ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="Risalah" name="Risalah" onchange="angular.element(this).scope().uploadFile(this)" /><i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah Risalah" readonly="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left">STK <span ng-if="true">( <a id="STK" ng-click="PreviewDocument($event)">{{data.STK}}</a> )</span></label>
                                                                <div ng-class="data.Kode === '' ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="STK" name="STK" ng-model="data.STK" onchange="angular.element(this).scope().uploadFile(this)" /><i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah STK" readonly="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left">Abster <span ng-if="true">( <a id="Abster" ng-click="PreviewDocument($event)">{{data.Abster}}</a> )</span></label>
                                                                <div ng-class="data.Kode === '' ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="Abster" name="Abster" ng-model="data.Abster" onchange="angular.element(this).scope().uploadFile(this)" /><i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah Abstar" readonly="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left">Komet <span ng-if="true">( <a id="KOMET" ng-click="PreviewDocument($event)">{{data.KOMET}}</a> )</span></label>
                                                                <div ng-class="data.Kode === '' ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="KOMET" name="KOMET" ng-model="data.KOMET" onchange="angular.element(this).scope().uploadFile(this)" />
                                                                        <i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah Komet" readonly="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left">Verifikasi Keuangan <span ng-if="true">( <a id="VerifikasiKeuangan" ng-click="PreviewDocument($event)">{{data.VerifikasiKeuangan}}</a> )</span></label>
                                                                <div ng-class="data.Kode === '' ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="VerifikasiKeuangan" name="VerifikasiKeuangan" ng-model="data.VerifikasiKeuangan" onchange="angular.element(this).scope().uploadFile(this)" />
                                                                        <i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah Verifikasi Keuangan" readonly="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left">Unggah Presentasi <span ng-if="true">( <a id="UploadPresentasi" ng-click="PreviewDocument($event)">{{data.UploadPresentasi}}</a> )</span></label>
                                                                <div ng-class="data.Kode === '' ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="UploadPresentasi" name="UploadPresentasi" ng-model="data.UploadPresentasi" onchange="angular.element(this).scope().uploadFile(this)" />
                                                                        <i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah Presentasi" readonly="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab3">
                                    <div class="widget-body">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12 ta-center">
                                                    <div class="va-table width-75 mar-0-auto">
                                                        <div class="va-middle width-50">
                                                            <button ng-if="true" class="btn btn-default width-30 bg-color-blueDark txt-color-white" ng-click="refreshHistory()"><i class="fa fa-refresh"></i> Reload Data</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-body no-padding table-responsive">
                                            <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab4">
                                    <div class="widget-body">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12 ta-center">
                                                    <div class="va-table width-75 mar-0-auto">
                                                        <div class="va-middle width-50">
                                                            <button ng-if="true" class="btn btn-default width-30 bg-color-blueDark txt-color-white" ng-click="refreshHistory()"><i class="fa fa-refresh"></i> Reload Data</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-body no-padding table-responsive">
                                            <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>