<div id="content">
    <section widget-grid id="wgtDaftarPesertaCip">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="pesertaCip" data-widget-color="red" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('Historis Peserta')}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <form id="frmDaftarPesertaFilter" name="frmDaftarPesertaFilter" class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="float-right">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <div class="col-md-3">
                                                                    <label class="control-label text-muted"><b>Periode</b></label>
                                                                    <select2 class="form-control no-padding select-custom" id="FilterTahun" name="FilterTahun" ng-model="filter.Tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode --"></select2>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button class="btn btn-primary" ng-click="reloadData()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load Data</button></div>
                                                                </div>
                                                                <div ng-if="false" class="col-md-2">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div style="text-align: right;">
                                                                        <button ng-click="exportExcel()" class="btn btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Export Excel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <hr class="simple" style="margin-top: 0px;">
                                <ul id="myTab1H" class="nav nav-tabs bordered">
                                    <li class="active">
                                        <a href="#s1H" data-toggle="tab"><span class="badge bg-color-orange txt-color-white"><i class="fa fa-building-o"></i></span> UNIT</a>
                                    </li>
                                    <li>
                                        <a href="#s2H" data-toggle="tab" ng-click="onClickDir()"><span class="badge bg-color-blue txt-color-white"><i class="fa fa-hospital-o"></i></span> DIREKTORAT</a>
                                    </li>
                                    <li>
                                        <a href="#s3H" data-toggle="tab" ng-click="onClickEnter()"><span class="badge bg-color-green txt-color-white"><i class="fa fa-university"></i></span> ENTERPRISE</a>
                                    </li>
                                </ul>
                                <div id="myTabContent1H" class="tab-content padding-10">
                                    <div class="tab-pane fade in active table-responsive" id="s1H">
                                        <ul id="myTabUnit" class="nav nav-tabs bordered">
                                            <li class="active">
                                                <a href="#unit1" data-toggle="tab" ng-click="refreshAnggotaGugus()"><i class="fa fa-user color-blue"></i> Historis Anggota</a>
                                            </li>
                                            <li>
                                                <a href="#unit2" data-toggle="tab" ng-click="refreshAllGugus()"><i class="fa fa-group color-green"></i> Historis Semua Gugus</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContentUnit" class="tab-content padding-10">
                                            <div class="tab-pane fade in active table-responsive" id="unit1">
                                                <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover cursor-pointer" width="100%" style="min-height: 150px;"></table>
                                            </div>
                                            <div class="tab-pane fade in table-responsive" id="unit2">
                                                <table datatable dt-options="ctrl.tableOptions2" dt-columns="ctrl.tableColumns2" dt-instance="ctrl.dtInstance2" class="table table-striped table-bordered table-hover cursor-pointer" width="100%" style="min-height: 150px;"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in table-responsive" id="s2H">
                                        <ul id="myTabDir" class="nav nav-tabs bordered">
                                            <li class="active">
                                                <a href="#dir1" data-toggle="tab" ng-click="onClickDir()"><i class="fa fa-user color-blue"></i> Historis Anggota</a>
                                            </li>
                                            <li>
                                                <a href="#dir2" data-toggle="tab" ng-click="onClickDirAll()"><i class="fa fa-group color-green"></i> Historis Semua Gugus</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContentDir" class="tab-content padding-10">
                                            <div class="tab-pane fade in active table-responsive" id="dir1">
                                                <table datatable dt-options="ctrl.tableOptionsDir" dt-columns="ctrl.tableColumnsDir" dt-instance="ctrl.dtInstanceDir" class="table table-striped table-bordered table-hover cursor-pointer" width="100%" style="min-height: 150px;"></table>
                                            </div>
                                            <div class="tab-pane fade in table-responsive" id="dir2">
                                                <table datatable dt-options="ctrl.tableOptionsDir2" dt-columns="ctrl.tableColumnsDir2" dt-instance="ctrl.dtInstanceDir2" class="table table-striped table-bordered table-hover cursor-pointer" width="100%" style="min-height: 150px;"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in table-responsive" id="s3H">
                                        <ul id="myTabEnter" class="nav nav-tabs bordered">
                                            <li class="active">
                                                <a href="#enter1" data-toggle="tab" ng-click="onClickEnter()"><i class="fa fa-user color-blue"></i> Historis Anggota</a>
                                            </li>
                                            <li>
                                                <a href="#enter2" data-toggle="tab" ng-click="onClickEnterAll()"><i class="fa fa-group color-green"></i> Historis Semua Gugus</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContentEnter" class="tab-content padding-10">
                                            <div class="tab-pane fade in active table-responsive" id="enter1">
                                                <table datatable dt-options="ctrl.tableOptionsEnter" dt-columns="ctrl.tableColumnsEnter" dt-instance="ctrl.dtInstanceEnter" class="table table-striped table-bordered table-hover cursor-pointer" width="100%" style="min-height: 150px;"></table>
                                            </div>
                                            <div class="tab-pane fade in table-responsive" id="enter2">
                                                <table datatable dt-options="ctrl.tableOptionsEnter2" dt-columns="ctrl.tableColumnsEnter2" dt-instance="ctrl.dtInstanceEnter2" class="table table-striped table-bordered table-hover cursor-pointer" width="100%" style="min-height: 150px;"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>