<div id="content">
    <section widget-grid id="wgtPesertaCip">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="pesertaCipReg" data-widget-color="red" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i> </span>
                        <h2>{{paramKode ==='' ? 'Registrasi' : 'Update Data Registrasi'}}</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <ul id="tabMember" class="nav nav-tabs bordered">
                                <li class="active">
                                    <a href="#tab1" data-toggle="tab"><i class="fa fa-fw fa-group color-blue"></i> General</a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab"><i class="fa fa-lg fa-file-archive-o color-green"></i> Kelengkapan Dokumen</a>
                                </li>
                                <li ng-if="paramKode!==''">
                                    <a href="#tab3" data-toggle="tab" ng-click="refreshSofi()"><i class="fa fa-fw fa-bullhorn color-red"></i> SOFI</a>
                                </li>
                                <li ng-if="paramKode!==''">
                                    <a href="#tab4" data-toggle="tab" ng-click="refreshHistory()"><i class="fa fa-fw fa-history color-blue"></i> Historis</a>
                                </li>
                            </ul>
                            <div id="tabDetailMember" class="tab-content pad-1em" style="background: inherit;">
                                <div class="tab-pane fade in active" id="tab1">
                                    <form ng-disabled="!allowEdit" id="frmRegistrasiPeserta" name="frmRegistrasiPeserta" class="form-horizontal">
                                        <fieldset ng-disabled="isSubmited">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <fieldset ng-if="true">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label">No. Gugus</label>
                                                                <input type="text" class="form-control text-capitalize" ng-model="data.Kode" readonly="readonly" ng-disabled="true" />
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label">Nama Gugus</label>
                                                            <input type="text" class="form-control text-capitalize" ng-model="data.NamaGugus" maxlength="255" required />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label"><span>Judul CIP</span></label>
                                                            <input type="text" class="form-control text-capitalize" ng-model="data.JudulCIP" maxlength="255" required />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label">Tahun</label>
                                                            <select2 ng-disabled="isSubmited || data.KodeStatus >= 2" class="form-control no-padding select-custom" id="Tahun" name="Tahun" ng-model="data.Tahun" s2-options="item.id as item.text for item in listTahun" placeholder="--Pilih Tahun--" required></select2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset ng-if="true">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label">Status</label>
                                                                <input type="text" class="form-control text-capitalize" ng-model="data.Status" readonly="readonly" ng-disabled="true" />
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label">Direktorat</label>
                                                            <select2 ng-disabled="listDirektorat.length === 1 || isSubmited" class="form-control no-padding select-custom" id="Direktorat" name="Direktorat" ng-model="data.Direktorat" s2-options="item.id as item.text for item in listDirektorat" placeholder="--Pilih Direktorat--" required></select2>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label">Unit</label>
                                                            <select2 ng-disabled="listUnit.length === 1 || isSubmited" class="form-control no-padding select-custom" id="Unit" name="Unit" ng-model="data.Unit" s2-options="item.id as item.text for item in listUnit" placeholder="--Pilih Unit--" required></select2>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label">Sub Unit</label>
                                                            <select2 ng-disabled="isSubmited" class="form-control no-padding select-custom" id="SubUnit" name="SubUnit" ng-model="data.SubUnit" s2-options="item.id as item.text for item in listSubUnit" placeholder="--Pilih Sub Unit--" required></select2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-class="data.KodeJenisCIP === 'RT-Prove' ? 'col-md-4' : 'col-md-2'">
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label">Jenis CIP</label>
                                                            <div class="input-group col-md-12">
                                                                <select2 ng-disabled="isSubmited" class="form-control no-padding select-custom" id="KodeJenisCIP" name="KodeJenisCIP" ng-model="data.KodeJenisCIP" s2-options="item.id as item.text for item in listJenisCIP" placeholder="--Pilih Jenis--" required></select2>
                                                                <span class="input-group-addon" ng-if="data.KodeJenisCIP === 'RT-Prove'">
                                                                    <span class="text-primary bold">Lintas Direktorat? </span>
                                                                    <span class="onoffswitch">
                                                                        <input type="checkbox" id="LintasDirektorat" name="LintasDirektorat" class="onoffswitch-checkbox" ng-model="data.LintasDirektorat">
                                                                        <label class="onoffswitch-label" for="LintasDirektorat">
                                                                            <span class="onoffswitch-inner" data-swchon-text="Ya" data-swchoff-text="Tdk"></span>
                                                                            <span class="onoffswitch-switch"></span>
                                                                        </label>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-class="data.KodeJenisCIP === 'RT-Prove' ? 'col-md-6' : 'col-md-8'">
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label">Deskripsi Inovasi</label>
                                                            <textarea name="Keterangan" ng-model="data.Keterangan" rows="1" class="form-control" placeholder="Keterangan" maxlength="1000" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <label class="control-label"><span>Jumlah Anggota</span></label>
                                                            <div class="input-group col-md-12">
                                                                <input type="text" class="form-control" ng-model="data.JumlahAnggota" maxlength="255" readonly="readonly" ng-disabled="true" />
                                                                <div ng-if="!allowInputAnggota" ng-class="isSubmited ? 'input-group-addon cursor-pointer-hover btn base-bgcolor-green disabled' : 'input-group-addon cursor-pointer-hover btn base-bgcolor-green'" ng-click="showInputAnggota()"><i class="fa fa-plus"></i> Tambah</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <fieldset ng-if="listAnggota.length > 0 || allowInputAnggota" class="ng-animate well well-sm bg-color-white">
                                                <div class="ng-animate" ng-if="allowInputAnggota">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <label class="control-label"><span>Nama</span></label>
                                                                    <select2 ng-disabled="isSubmited" class="form-control no-padding select-custom" id="KodeUser" name="SubUnit" ng-model="anggota.KodeUser" s2-options="item.id as item.text for item in listUserUnit" placeholder="--Pilih Anggota--"></select2>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <label class="control-label"><span>Status Anggota</span></label>
                                                                    <select2 ng-disabled="isSubmited" class="form-control no-padding select-custom" id="KodeStatusAnggota" name="SubUnit" ng-model="anggota.KodeStatusAnggota" s2-options="item.id as item.text for item in listStatusAnggota" placeholder="--Pilih Status Anggota--"></select2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <label class="control-label"><span>Email</span></label>
                                                                    <input type="text" class="form-control" ng-model="anggota.Email" maxlength="255" readonly="readonly" ng-disabled="true" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <label class="control-label"><span>No. Pegawai</span></label>
                                                                    <input type="text" class="form-control" ng-model="anggota.NoPek" maxlength="255" readonly="readonly" ng-disabled="true" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center" style="padding-top:10px; padding-bottom: 10px;">
                                                            <span class="btn btn-success" ng-disabled="!isValidInputAnggota" ng-click="addAnggota()">
                                                                <i class="fa fa-plus"></i> {{getWord('Tambah')}}
                                                            </span>
                                                            <span id="btn_undo" class="btn btn-danger" ng-click="undoAddAnggota()">
                                                                <i class="fa fa-close"></i>
                                                                {{getWord('Undo')}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row ng-animate" ng-if="listAnggota.length > 0">
                                                    <div class="col-md-12" style="overflow: auto;">
                                                        <table class="table table-bordered table-striped table-hover" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th class="midtext text-center" width="20px">No.</th>
                                                                    <th class="midtext text-center" width="50%">Nama Anggota</th>
                                                                    <th class="midtext text-center" width="10%">Status Anggota</th>
                                                                    <th class="midtext text-center" width="10%">No. Pegawai</th>
                                                                    <th class="midtext text-center" width="20%">Email</th>
                                                                    <th class="midtext text-center">#</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="row in listAnggota track by $index" class="table-normal-tr">
                                                                    <td class="text-right">{{$index+1}}</td>
                                                                    <td>{{row.NamaAnggota}}</td>
                                                                    <td>{{row.StatusDes}}</td>
                                                                    <td class="text-center">{{row.NoPek}}</td>
                                                                    <td>{{row.Email}}</td>
                                                                    <td class="text-center">
                                                                        <div ng-class="isSubmited ? 'btn btn-danger btn-xs disabled' : 'btn btn-danger btn-xs'" ng-click="deleteAnggota(row)"><i class="fa fa-remove"></i> </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </fieldset>
                                        <div class="form-actions text-center">
                                            <div class="row">
                                                <div ng-if="paramKode===''" class="col-md-12">
                                                    <button ng-disabled="listAnggota.length < 1 || isSubmited" id="btnSave" type="submit" class="btn btn-success" ng-click="submit()">
                                                        <i class="fa fa-save"></i>
                                                        {{getWord('Submit')}}
                                                    </button>
                                                    <button id="btn_undo" type="button" class="btn btn-warning" ng-click="undo()">
                                                        <i ng-class="isSubmited ? 'fa fa-remove' : 'fa fa-undo'"></i>
                                                        {{isSubmited ? getWord('Selesai') : getWord('Undo')}}
                                                    </button>
                                                </div>
                                                <div ng-if="paramKode!==''" class="col-md-12">
                                                    <button ng-disabled="!allowEdit" id="btnSave" type="submit" class="btn btn-success" ng-click="update()">
                                                        <i class="fa fa-save"></i>
                                                        {{getWord('Update')}}
                                                    </button>
                                                    <button id="btn_undo" type="button" class="btn btn-warning" ng-click="back()">
                                                        <i class="fa fa-arrow-left"></i> {{getWord('Back')}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <div class="widget-body">
                                        <form ng-disabled="!allowEdit" id="frmDokumen" name="frmDokumen" class="form-horizontal" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <fieldset class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left text-left">Risalah/*.PDF <span ng-if="true">( <i ng-class="isNullOrEmpty(data.Risalah) ? '' : 'fa fa-cloud-download'"></i>&nbsp;<a id="Risalah" ng-click="PreviewDocument($event)">{{data.Risalah}}</a> )</span></label>
                                                                <div ng-class="allowUpload === false ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="Risalah" name="Risalah" onchange="angular.element(this).scope().uploadFile(this)" /><i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah Risalah" readonly="" />
                                                                </div>
                                                                <i class="pad-l-15 pad-r-15 text-left color-green font-xs"><i class="fa fa-clock-o"></i>&nbsp;Updated Date: {{dateTimeFormat(data.RisalahUpdatedDate)}}</i>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset ng-if="false" class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left">STK <span ng-if="true">( <i ng-class="isNullOrEmpty(data.STK) ? '' : 'fa fa-cloud-download'"></i>&nbsp;<a id="STK" ng-click="PreviewDocument($event)">{{data.STK}}</a> )</span></label>
                                                                <div ng-class="allowUpload === false ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="STK" name="STK" ng-model="data.STK" onchange="angular.element(this).scope().uploadFile(this)" /><i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah STK" readonly="" />
                                                                </div>
                                                                <i class="pad-l-15 pad-r-15 text-left color-green font-xs"><i class="fa fa-clock-o"></i>&nbsp;Updated Date: {{dateTimeFormat(data.STKUpdatedDate)}}</i>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left">Lampiran Wajib <span ng-if="true">( <i ng-class="isNullOrEmpty(data.Abster) ? '' : 'fa fa-cloud-download'"></i>&nbsp;<a id="Abster" ng-click="PreviewDocument($event)">{{data.Abster}}</a> )</span></label>
                                                                <div ng-class="allowUpload === false ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="Abster" name="Abster" ng-model="data.Abster" onchange="angular.element(this).scope().uploadFile(this)" /><i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah Lampiran Wajib" readonly="" />
                                                                </div>
                                                                <i class="pad-l-15 pad-r-15 text-left color-green font-xs"><i class="fa fa-clock-o"></i>&nbsp;Updated Date: {{dateTimeFormat(data.AbsterUpdatedDate)}}</i>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-6">
                                                    <fieldset class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left">Lampiran Tambahan <span ng-if="true">( <i ng-class="isNullOrEmpty(data.KOMET) ? '' : 'fa fa-cloud-download'"></i>&nbsp;<a id="KOMET" ng-click="PreviewDocument($event)">{{data.KOMET}}</a> )</span></label>
                                                                <div ng-class="allowUpload === false ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="KOMET" name="KOMET" ng-model="data.KOMET" onchange="angular.element(this).scope().uploadFile(this)" />
                                                                        <i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah Lampiran Tambahan" readonly="" />
                                                                </div>
                                                                <i class="pad-l-15 pad-r-15 text-left color-green font-xs"><i class="fa fa-clock-o"></i>&nbsp;Updated Date: {{dateTimeFormat(data.KOMETUpdatedDate)}}</i>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset ng-if="false" class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left">Verifikasi Keuangan <span ng-if="true">( <i ng-class="isNullOrEmpty(data.VerifikasiKeuangan) ? '' : 'fa fa-cloud-download'"></i>&nbsp;<a id="VerifikasiKeuangan" ng-click="PreviewDocument($event)">{{data.VerifikasiKeuangan}}</a> )</span></label>
                                                                <div ng-class="allowUpload === false ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="VerifikasiKeuangan" name="VerifikasiKeuangan" ng-model="data.VerifikasiKeuangan" onchange="angular.element(this).scope().uploadFile(this)" />
                                                                        <i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah Verifikasi Keuangan" readonly="" />
                                                                </div>
                                                                <i class="pad-l-15 pad-r-15 text-left color-green font-xs"><i class="fa fa-clock-o"></i>&nbsp;Updated Date: {{dateTimeFormat(data.VerifikasiKeuanganUpdatedDate)}}</i>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset class="smart-form">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <label class="control-label pad-l-15 pad-r-15 text-left">Unggah Presentasi <span ng-if="true">( <i ng-class="isNullOrEmpty(data.UploadPresentasi) ? '' : 'fa fa-cloud-download'"></i>&nbsp;<a id="UploadPresentasi" ng-click="PreviewDocument($event)">{{data.UploadPresentasi}}</a> )</span></label>
                                                                <div ng-class="allowUpload === false ? 'input input-file pad-l-15 mar-r-15 disabled' : 'input input-file pad-l-15 mar-r-15'">
                                                                    <span ng-class="'button'">
                                                                        <input type="file" id="UploadPresentasi" name="UploadPresentasi" ng-model="data.UploadPresentasi" onchange="angular.element(this).scope().uploadFile(this)" />
                                                                        <i class="fa fa-upload"></i>&nbsp;&nbsp;Unggah Berkas
                                                                    </span><input type="text" placeholder="Unggah Presentasi" readonly="" />
                                                                </div>
                                                                <i class="pad-l-15 pad-r-15 text-left color-green font-xs"><i class="fa fa-clock-o"></i>&nbsp;Updated Date: {{dateTimeFormat(data.UploadPresentasiUpdatedDate)}}</i>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="form-actions text-left pad-b-0">
                                            <div class="row">
                                                <div ng-if="paramKode!==''" class="col-md-12">
                                                    <button id="btn_undo" type="button" class="btn btn-warning" ng-click="back()">
                                                        <i class="fa fa-arrow-left"></i> {{getWord('Back')}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="paramKode!==''" class="tab-pane fade" id="tab3">
                                    <div class="widget-body">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12 ta-center">
                                                    <div class="va-table width-75 mar-0-auto">
                                                        <div class="va-middle width-50">
                                                            <button ng-if="true" class="btn btn-default width-30 bg-color-blueDark txt-color-white" ng-click="refreshSofi()"><i class="fa fa-refresh"></i> Reload Data</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-body no-padding table-responsive">
                                            <table datatable dt-options="ctrl.tableOptionsSofi" dt-columns="ctrl.tableColumnsSofi" dt-instance="ctrl.dtInstanceSofi" class="table table-striped table-bordered table-hover" width="100%"></table>
                                        </div>
                                        <div class="form-actions text-center pad-b-0">
                                            <div class="row">
                                                <div ng-if="paramKode!==''" class="col-md-12">
                                                    <button id="btn_undo" type="button" class="btn btn-warning" ng-click="back()">
                                                        <i class="fa fa-arrow-left"></i> {{getWord('Back')}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div ng-if="paramKode!==''" class="tab-pane fade" id="tab4">
                                    <div class="widget-body">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12 ta-center">
                                                    <div class="va-table width-75 mar-0-auto">
                                                        <div class="va-middle width-50">
                                                            <button ng-if="true" class="btn btn-default width-30 bg-color-blueDark txt-color-white" ng-click="refreshHistory()"><i class="fa fa-refresh"></i> Reload Data</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-body no-padding table-responsive">
                                            <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover" width="100%"></table>
                                        </div>
                                        <div class="form-actions text-center pad-b-0">
                                            <div class="row">
                                                <div ng-if="paramKode!==''" class="col-md-12">
                                                    <button id="btn_undo" type="button" class="btn btn-warning" ng-click="back()">
                                                        <i class="fa fa-arrow-left"></i> {{getWord('Back')}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>