<div id="shortcut">
	<ul>
		<li>
			<button ng-click="showProfile()" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>{{getWord('My Profile')}}</span> </span> </button>
		</li>
	</ul>
</div>
