<div id="content">
    <section widget-grid id="wgtLokasi">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="mstLokasi" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="isShowList ? 'fa fa-table' : 'fa fa-edit'"></i> </span>
                        <h2>{{isShowList ? getWord('List') : getWord(isNew ? 'New' : 'Update')}} {{getWord('Lokasi')}}</h2>
                        <div class="va-table" style="height: 45px;text-align: right;float: right;margin-right: 10px;">
                            <div class="va-middle"><button class="btn btn-primary" ng-click="NewData(event)" ng-if="isShowList"><i class="fa fa-plus"></i>&nbsp;&nbsp;{{getWord('New')}}</button></div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body" ng-if="isShowList">
                            <div class="widget-body no-padding table-responsive ">
                                <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                            </div>
                            <!-- <div class="form-actions text-left">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" ng-click="NewData(event)">
                                            <i class="fa fa-plus"></i>
                                            {{getWord('New')}}
                                        </button>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <div class="widget-body" ng-if="!isShowList">
                            <form name="frmLokasi" id="frmLokasi" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Kode</label>
                                    <div class="col-lg-4">
                                        <input name="Kode" ng-model="data.Kode" ng-disabled="!isNew" type="text" class="form-control" placeholder="Kode" maxlength="15" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Deskripsi</label>
                                    <div class="col-lg-4">
                                        <input name="Deskripsi" ng-model="data.Deskripsi" type="text" class="form-control" placeholder="Deskripsi" maxlength="50" required />
                                    </div>
                                </div>
                                <div class="form-actions text-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnSave" type="submit" class="btn btn-success" ng-click="Save()">
                                                <i class="fa fa-save"></i>
                                                {{getWord(isNew ? 'Save' : 'Update')}}
                                            </button>
                                            <button id="btn_undo" type="button" class="btn btn-warning" ng-click="Undo()">
                                                <i class="fa fa-undo"></i>
                                                {{getWord('Undo')}}
                                            </button>
                                            <button id="btnDelete" type="button" class="btn btn-danger" ng-if="!isNew" ng-click="Delete()">
                                                <i class="fa fa-remove"></i>
                                                {{getWord('Delete')}}
                                            </button>
                                            <button id="btnBack" type="button" class="btn btn-primary" ng-click="ShowList()">
                                                <i class="fa fa-arrow-left"></i>
                                                {{getWord('Back')}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>