<div id="content">
    <section widget-grid id="wgtPesertaCipDir">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="pesertaCipDir" data-widget-color="red" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('List')}} Peserta</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <form id="frmDaftarPesertaDir" name="frmDaftarPeserta" class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="float-right">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <div class="col-md-3">
                                                                    <label class="control-label text-muted"><b>Periode</b></label>
                                                                    <select2 class="form-control no-padding select-custom" id="FilterTahun" name="FilterTahun" ng-model="filter.tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode --"></select2>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button class="btn btn-primary" ng-click="reloadData()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load Data</button></div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button ng-click="downloadUploadDokumenStatus()" class="btn btn-success"><i class="fa fa-cloud-download"></i>&nbsp;&nbsp;Download Status Upload Dokumen</button></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button ng-click="exportExcel()" class="btn btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Export Excel</button></div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <hr class="width-100" style="margin-top: 0px; margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover cursor-pointer" width="100%" style="min-height: 180px;"></table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>