<div id="content">
    <section widget-grid id="wgtDaftarPesertaCipAssignDir">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="pesertaCipAssignDir" data-widget-color="red" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('Daftarkan Gugus ke Direktorat')}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <form id="frmDaftarPesertaFilter" name="frmDaftarPesertaFilter" class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="float-right">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <div class="col-md-2">
                                                                    <label class="control-label text-muted"><b>Periode</b></label>
                                                                    <select2 class="form-control no-padding select-custom" id="FilterTahun" name="FilterTahun" ng-model="filter.Tahun" s2-options="item.id as item.text for item in listTahun" placeholder="-- Pilih Periode --"></select2>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="control-label text-muted"><b>Direktorat</b></label>
                                                                    <select2 ng-disabled="listDirektorat.length === 1" class="form-control no-padding select-custom" id="Direktorat" name="Direktorat" ng-model="filter.Direktorat" s2-options="item.id as item.text for item in listDirektorat" placeholder="--Pilih Direktorat--" required></select2>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="control-label text-muted"><b>Unit</b></label>
                                                                    <select2 ng-disabled="listUnit.length === 1" class="form-control no-padding select-custom" id="Unit" name="Unit" ng-model="filter.Unit" s2-options="item.id as item.text for item in listUnit" placeholder="--Pilih Unit--" required></select2>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div><button class="btn btn-primary" ng-click="reloadData()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load Data</button></div>
                                                                </div>
                                                                <div ng-if="false" class="col-md-2">
                                                                    <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                                    <div style="text-align: right;">
                                                                        <button ng-click="exportExcel()" class="btn btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Export Excel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <hr class="width-100" style="margin-top: 0px; margin-bottom: 10px;">
                                <ul id="myTab1" class="nav nav-tabs bordered">
                                    <li class="active">
                                        <a href="#s1" data-toggle="tab" ng-click="refreshGugusUnit()"><i class="fa fa-book color-blue"></i> Daftarkan Gugus Unit ke Direktorat</a>
                                    </li>
                                    <li>
                                        <a href="#s2" data-toggle="tab" ng-click="refreshGugusDirektorat()"><i class="fa fa-file-text-o color-green"></i> Daftar Gugus di Direktorat</a>
                                    </li>
                                </ul>
                                <div id="myTabContent1" class="tab-content padding-10">
                                    <!--<div>
                                        <p class="text-danger">You selected the following rows:</p>
                                        <p></p><pre>{{ ctrl.listSelected |json }}</pre>
                                        <p></p><pre>{{ ctrl.listSelectedData |json }}</pre>
                                        <p></p>
                                    </div>-->
                                    <div class="tab-pane fade in active table-responsive" id="s1">
                                        <table datatable="" dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                                        <div class="form-actions text-center pad-b-0">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button id="btn_undo" type="button" class="btn btn-success" ng-click="submit()">
                                                        <i class="fa fa-send-o"></i> {{getWord('Submit')}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in table-responsive" id="s2">
                                        <table datatable dt-options="ctrl.tableOptions2" dt-columns="ctrl.tableColumns2" dt-instance="ctrl.dtInstance2" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>