<div id="content">
    <section widget-grid id="auditorGugus">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="list_role" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{getWord('Pendaftaran Auditor ke Gugus')}}</h2>
                        <div class="va-table" style="height: 45px;text-align: right;float: right;margin-right: 10px;">
                            <div class="va-middle"><button id="btnSave" class="btn btn-success" ng-click="Save()"><i class="fa fa-save"></i>&nbsp;&nbsp;{{getWord('Save')}}</button></div>
                        </div>
                    </header>
                    <div class="widget-body bg-table no-padding">
                        <form name="frmFungsi" id="frmFungsi" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label class="control-label"><b>Period</b></label>
                                    <select2 ng-change="onChangePeriode()" class="form-control no-padding select-custom" id="Periode" name="Periode" ng-model="filter.period" s2-options="item.id as item.text for item in listPeriod" placeholder="--Pilih Periode--"></select2>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="table-responsive">
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"><strong class="text-primary">Daftar Auditor</strong></div>
                                            <div class="panel-body">
                                                <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 border-left">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><strong class="text-primary">Daftar Gugus</strong></div>
                                        <div class="panel-body">
                                            <select id="dualGugusList" ng-model="detail.lstGugusSelected"
                                                    ng-options="item.value as item.text for item in lstGugus"
                                                    multiple
                                                    bs-duallistbox></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>