<div id="content" class="height-80">
    <section widget-grid id="wgtSetPoinKriteria">
        <!--<div class="row">-->
        <article class="col-sm-12">
            <div jarvis-widget id="mstSetPoinKriteria" data-widget-color="purity" data-widget-editbutton="false" data-widget-deletebutton="false">
                <header>
                    <h2>{{getWord('Pengaturan Poin Kriteria & Langkah')}}</h2>
                </header>

                <div>
                    <form id="frmSetPoinKriteria" name="frmSetPoinKriteria" class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="float-right">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label class="control-label text-muted"><b>Periode</b></label>
                                                            <select2 class="form-control no-padding select-custom" id="periode" name="periode" ng-model="periode" s2-options="item.id as item.text for item in listPeriode" placeholder="Pilih Periode"></select2>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                            <div><button class="btn btn-primary" ng-click="Load()"><i class="fa fa-spinner"></i>&nbsp;&nbsp;Load Data</button></div>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <label class="control-label text-muted"><b>&nbsp;</b></label>
                                                            <div><button class="btn btn-warning" ng-click="Copy()"><i class="fa fa-copy"></i>&nbsp;&nbsp;Copy from The Previous Year</button></div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div ng-if="data.JenisCIP.length>0">
                            <fieldset>
                                <div class="col-md-12">
                                    <div class="jarviswidget mar-b-0" id="wid-id-7" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false">
                                        <header>
                                            <ul class="nav nav-tabs pull-left in">
                                                <li class="{{$index===0?'active':''}}" ng-repeat="cip in data.JenisCIP track by $index">
                                                    <a data-toggle="tab" href="#hhr{{cip.Kode}}"> <i class="fa fa-lg"></i> <span class="hidden-mobile hidden-tablet"> {{cip.Deskripsi}} </span> </a>
                                                </li>

                                            </ul>
                                        </header>
                                        <!-- widget div-->
                                        <div>
                                            <div class="widget-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane {{$index==0 ? 'active':''}}" id="hhr{{cip.Kode}}" ng-repeat="cip in data.JenisCIP track by $index">
                                                        <div class="table-responsive" style="height:80%; overflow:auto !important;">
                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr style="background-color:aquamarine;">
                                                                        <!--<th class="center" style="vertical-align: middle;">No.</th>-->
                                                                        <th class="center" style="vertical-align: middle;">Kriteria</th>
                                                                        <th class="center" style="vertical-align: middle;">Langkah</th>
                                                                        <th class="center" style="vertical-align: middle;">Sub Langkah</th>
                                                                        <th class="center" style="vertical-align: middle;">Requirement Terbaik</th>
                                                                        <th class="center" style="vertical-align: middle;">Penilaian Skala</th>
                                                                        <th class="center" style="vertical-align: middle;">Poin</th>
                                                                        <th class="center" style="vertical-align: middle;">Checklist <br />(<span class="text-danger">Klik kotak untuk pilih</span>)</th>

                                                                    </tr>

                                                                </thead>
                                                                <tbody ng-repeat="group in LoopRowSpan">
                                                                    <tr ng-repeat="row in group| filter:{'KodeJenis':cip.Kode}  | orderBy:'-KodeLangkah'">

                                                                        <td width="15%" style="vertical-align:middle;font-weight:bold;" rowspan="{{group.length}}" ng-if="$index===0">{{row.Kriteria}}</td>
                                                                        <td width="8%" style="vertical-align:middle;" rowspan="{{group.length}}" ng-if="$index===0">
                                                                            {{row.KodeLangkah.substring(0,1)==='X'?'':row.KodeLangkah}}
                                                                        </td>
                                                                        <td width="35%" style="vertical-align:middle; padding-right:20px;" class="row">
                                                                            <div class="col-lg-1 col-md-1 col-md-1 col-sm-1 col-xs-1">
                                                                                <div style="float:left;font-weight:bold;">{{$index+1}}</div>
                                                                            </div>
                                                                            <div class="col-lg-8 col-md-8 col-md-8 col-sm-8 col-xs-8">
                                                                                <div class="smart-form">
                                                                                    <div ng-class="cip.Kode!=='RT-Prove' ? 'textarea textarea-resizable disabled' : 'textarea textarea-resizable'">
                                                                                        <textarea rows="8" ng-model="row.Langkah" class="custom-scroll" style="width:300px;"></textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td style="vertical-align: middle;" align="center">
                                                                            <div class="smart-form">
                                                                                <div class="textarea textarea-resizable">
                                                                                    <textarea rows="8" ng-model="row.RequermentTerbaik" class="custom-scroll" style="width:350px;"></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td style="vertical-align: middle;" align="center">
                                                                            <div class="smart-form">
                                                                                <div class="textarea textarea-resizable">
                                                                                    <textarea rows="8" ng-model="row.PenilaianSkala" class="custom-scroll" style="width:350px;"></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td style="vertical-align: middle;" align="center">
                                                                            <label class="input">
                                                                                <input ng-model="row.Poin" class="form-control text-right" type="text" custom-number-only allow-decimal="false" decimal-upto="0" allow-negative="false" placeholder="0" maxlength="4" required style="width:50px;">
                                                                            </label>
                                                                        </td>

                                                                        <td width="8%" align="center" style="vertical-align: middle;">
                                                                            <label class="checkbox-inline pad-t-0">
                                                                                <input type="checkbox" ng-model="row.Used" class="checkbox style-3">
                                                                                <span></span>
                                                                            </label>
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="form-actions text-left" ng-if="data.JenisCIP.length>0">
                            <div class="row">
                                <div class="col-md-12">
                                    <button id="btnSave" type="submit" class="btn btn-success" ng-click="Save()">
                                        <i class="fa fa-save"></i>
                                        {{getWord('Save')}}
                                    </button>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </article>
        <!--</div>-->
    </section>
    <!-- content -->
</div>