<div id="content">
    <section widget-grid id="wgtPesertaCipVerUnit">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="pesertaCipVerUnit" data-widget-color="red" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="isShowList ? 'fa fa-table' : 'fa fa-edit'"></i> </span>
                        <h2>{{isShowList ? getWord('List') : getWord(isNew ? 'New' : 'Save')}} {{getWord('Verifikasi Peserta')}}</h2>
                    </header>
                    <div>
                        <div class="widget-body" ng-if="isShowList">
                            <div class="widget-body no-padding table-responsive">
                                <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" dt-instance="ctrl.dtInstance" class="table table-striped table-bordered table-hover" width="100%"></table>
                            </div>
                        </div>

                        <div class="widget-body" ng-if="!isShowList">
                            <form name="frmPesertaCip" id="frmPesertaCip" class="form-horizontal">
                                <div class="form-group" ng-if="false">
                                    <label class="col-md-2 control-label">No. Gugus</label>
                                    <div class="col-md-4">
                                        <input name="Kode" ng-model="data.Kode" readonly="readonly" disabled="disabled" type="text" class="form-control" placeholder="Kode" maxlength="50" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tahun</label>
                                    <div class="col-md-4">
                                        <input name="Tahun" ng-model="data.Tahun" ng-disabled="true" type="text" class="form-control" placeholder="Tahun" maxlength="50" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Nama Gugus</label>
                                    <div class="col-md-4">
                                        <input name="Nama" ng-model="data.NamaGugus" ng-disabled="true" type="text" class="form-control" placeholder="Nama Peserta" maxlength="50" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Judul CIP</label>
                                    <div class="col-md-4">
                                        <input name="JudulCIP" ng-model="data.JudulCIP" ng-disabled="true" type="text" class="form-control" placeholder="Judul CIP" maxlength="50" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Status</label>
                                    <div class="col-md-4">
                                        <select ng-model="data.StatusSelected" class="form-control">
                                            <option ng-repeat="item in ddlStatus" value="{{item.value}}">{{item.text}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Deskripsi Inovasi</label>
                                    <div class="col-md-4">
                                        <textarea name="Keterangan" ng-model="data.Keterangan" rows="5" class="form-control" placeholder="Keterangan" maxlength="1000"  ng-disabled="true" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="form-actions text-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnSave" type="submit" class="btn btn-success" ng-click="UpdateVerifikasiAdminQM()">
                                                <i class="fa fa-save"></i>
                                                {{getWord(isNew ? 'Save' : 'Save')}}
                                            </button>
                                            <button id="btnBack" type="button" class="btn btn-primary" ng-click="ShowList()">
                                                <i class="fa fa-arrow-left"></i>
                                                {{getWord('Back')}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>