<div id="content">
    <section widget-grid id="administrasi-Menu">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="list_Menu" data-widget-colorbutton="false"  data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="isShowList ? 'fa fa-table' : 'fa fa-edit'"></i> </span>
                        <h2>{{isShowList ? getWord('List') : getWord(isNew ? 'New' : 'Update')}} {{getWord('Menu')}}</h2>
                        <div class="va-table" style="height: 45px;text-align: right;float: right;margin-right: 10px;">
                            <div class="va-middle"><button class="btn btn-primary" ng-click="NewData(event)" ng-if="isShowList"><i class="fa fa-plus"></i>&nbsp;&nbsp;{{getWord('New')}}</button></div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body" ng-if="isShowList">
                            <div class="widget-body no-padding table-responsive ">
                                <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                            </div>
                            <!-- <div class="form-actions text-left">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" ng-click="NewData(event)">
                                            <i class="fa fa-plus"></i>
                                            {{getWord('New')}}
                                        </button>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        
                        <div class="widget-body" ng-if="!isShowList">
                            <form name="frmMenu" id="frmMenu" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Title</label>
                                    <div class="col-lg-4">
                                        <input name="Title" ng-model="data.Title" type="text" class="form-control" placeholder="Title Menu" maxlength="100" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Url</label>
                                    <div class="col-lg-4">
                                        <input name="Url" ng-model="data.Url" type="text" class="form-control" placeholder="Url" maxlength="100" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Icon</label>
                                    <div class="col-lg-4">
                                        <input name="Icon" ng-model="data.Icon" type="text" class="form-control" placeholder="Icon" maxlength="30" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Class</label>
                                    <div class="col-lg-4">
                                        <input name="Class" ng-model="data.Class" type="text" class="form-control" placeholder="Class" maxlength="30" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Sequence</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Sequence" class="form-control text-right" ng-model="data.Sequence" custom-number-only allow-decimal="false" decimal-upto="0" allow-negative="false" placeholder="0" maxlength="4" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Parent Menu</label>
                                    <div class="col-md-3">
                                        <select2 class="form-control no-padding select-custom" id="Parent" name="Parent" ng-model="data.Parent" s2-options="item.id as item.text for item in listMenu" placeholder="-- --"></select2>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Active</label>
                                    <div class="smart-form float-left-34">
                                        <label class="toggle">
                                            <input name="Active" ng-model="data.IsActive" type="checkbox" />
                                            <i data-swchon-text="Ya" data-swchoff-text="Tidak"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-actions text-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnSave" type="submit" class="btn btn-success" ng-click="Save()">
                                                <i class="fa fa-save"></i>
                                                {{getWord(isNew ? 'Save' : 'Update')}}
                                            </button>
                                            <button id="btn_undo" type="button" class="btn btn-warning" ng-click="Undo()">
                                                <i class="fa fa-undo"></i>
                                                {{getWord('Undo')}}
                                            </button>
                                            <button id="btnDelete" type="button" class="btn btn-danger" ng-if="!isNew" ng-click="Delete()">
                                                <i class="fa fa-remove"></i>
                                                {{getWord('Delete')}}
                                            </button>
                                            <button id="btnBack" type="button" class="btn btn-primary" ng-click="ShowList()">
                                                <i class="fa fa-arrow-left"></i>
                                                {{getWord('Back')}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>