<div class="login-info ng-cloak" >
    <span style="border-bottom: 1px outset #010101;"> <!-- User image size is adjusted inside CSS, it should stay as it -->
        <a toggle-shortcut>
            <img ng-src="{{user.picture}}" alt="me" class="online" style="max-height: 21px;">
                <span>{{user.username}}
                </span>
            <i class="fa fa-angle-down"></i>
        </a>
     </span>
</div>